<mat-card class="footerblock">
    <span class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
        <a (click)="scrollToTop()">
            <i class="material-icons"> arrow_upward
                </i>
        </a>
    </span>

  <mat-card class="footerblock_wrapper">


    <mat-card-subtitle class="footer_subtitle_block1">
      <h2>Geoai Technologies</h2>
      <h3>1110 Summit Ave Suite #4,<br/>
        Plano, Tx 75074<br/><br/>

        469-288-4956</h3>
      <img src="../../assets/images/logo.png" alt="#">



  </mat-card-subtitle>

    <mat-card-subtitle class="footer_subtitle_block2">

      <h2>Get to Know Us</h2>

      <mat-card-content>
        <span>   <a [routerLink]="['/home']" routerLinkActive="active"> Home </a></span>
        <span>   <a [routerLink]="['/platform-features']" routerLinkActive="active"> Platform Features  </a></span>
        <span>   <a [routerLink]="['/thedifference']" routerLinkActive="active">  The Difference   </a></span>
        <span>   <a [routerLink]="['/bigdata']" routerLinkActive="active"> Big Data</a></span>
        <span>   <a [routerLink]="['/commercialGEO']" routerLinkActive="active"> Commercial GEO </a></span>

      </mat-card-content>

      <mat-card-content>
        <span>   <a [routerLink]="['/mobilemarketing']" routerLink="active"> Mobile Marketing </a></span>
        <span>   <a [routerLink]="['/ourteam']" routerLinkActive="active"> Our Team </a></span>
        <span>   <a [routerLink]="['/getstarted']" routerLinkActive="active"> Get Started </a></span>
        <span>   <a [routerLink]="['/contactus']" routerLinkActive="active">Contact</a></span>

      </mat-card-content>



    </mat-card-subtitle>

    <mat-card-subtitle class="footer_subtitle_block3">
      <h2>Contact</h2>

      <ul>
        <li><a href="tel:000.000.0000">000.000.0000</a></li>
        <li><a href="mailto:Lorem ipsum@Lorem" target="_top">Lorem ipsum@Lorem </a></li>
        <li><a href="mailto:Lorem ipsum@Lorem" target="_top">Lorem ipsum@Lorem </a></li>
        <li><span>Lorem ipsum  • Lorem ipsum
• Lorem ipsum </span></li>

      </ul>


      <mat-card-content class="footersocial_link">
        <a href="javascript:void(0)"><img src="../../assets/images/footer_social_link1.jpg" alt="#"></a>
        <a href="javascript:void(0)"><img src="../../assets/images/footer_social_link2.jpg" alt="#"></a>
        <a href="javascript:void(0)"><img src="../../assets/images/footer_social_link3.jpg" alt="#"></a>
        <a href="javascript:void(0)"><img src="../../assets/images/footer_social_link4.jpg" alt="#"></a>
        <a href="javascript:void(0)"><img src="../../assets/images/footer_social_link5.jpg" alt="#"></a>
      </mat-card-content>


      <mat-card-content class="clear"></mat-card-content>

    </mat-card-subtitle>



    <mat-card-content class="clear"></mat-card-content>


  </mat-card>


</mat-card>


<mat-card class="footerblock2">

  <span>Copyright &copy; 2019 Geofencedsp. All rights reserved.</span>
  <span><a href="javascript:void(0)">Privacy Policy</a>    .    <a href="javascript:void(0)">Terms & Conditions </a>   .   <a href="javascript:void(0)">Ad Policies</a>     .   <a href="javascript:void(0)">Banner Ad Formats</a> </span>


</mat-card>
