<app-header></app-header>
<mat-card class="comtopbannerblock">
    <mat-card-content class="container">
        <mat-card-title class="textwrapper">
            <h1>Commercial GEOfence Marketing <b>ADVERTISE TO YOUR TARGET DEMOGRAPHIC WITH MOBILE AD DISPLAY </b></h1>
            <h2>In the race to increase your agency’s ROI, you need tools to precisely target your prospective customers and give yourself a major competitive edge over other marketing models. Commercial GEOFence Marketing gives you the tools you need to hit your customers with specific, targeted advertising right on their phones or other mobile devices.</h2>
        </mat-card-title>
    </mat-card-content>
</mat-card>

<mat-card class="comblock2">
    <mat-card-content class="container">
        <mat-card-title class="textwrapper comblock2text1">
            <h1>Let’s break down how GEOFence marketing can help you!</h1>
            <p>The mobile device market is the fastest-growing market in the digital display space.  GEOfencing allows advertisers to throw up a virtual fence around an area and then send targeted advertising to any device that has crossed that fence line.
                The applications are numerous, including:</p>
        </mat-card-title>
        <mat-list class="listwrapper">
            <mat-list-item class="col-3">
                <span class="imgwrapper"><img src="../../assets/images/comimg1.jpg"></span>
                <span class="listtextwrapper">Fence events like trade shows to target customers who’ve shown interest in products and services similar to what your customers are offering.</span>
            </mat-list-item>
            <mat-list-item class="col-3">
                <span class="imgwrapper"><img src="../../assets/images/comimg2.jpg"></span>
                <span class="listtextwrapper">Fence competitors and send ads to customers already engaged in the shopping process and offer them better deals.</span>
            </mat-list-item>
            <mat-list-item class="col-3">
                <span class="imgwrapper"><img src="../../assets/images/comimg3.jpg"></span>
                <span class="listtextwrapper">Fence individual buildings and households in your vicinity and drive them to your business.</span>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>


<mat-card class="comblock3">
        <mat-card-title class="textwrapper">
            <h1>GEOfencing gets results!</h1>
            <p>GEOfencing gives you control over your ad placement, resulting in higher conversion rates and increased ROI. Consider the following example:</p>
        </mat-card-title>
    <mat-card-title-group class="comsubwrapper">
        <mat-card-content class="container">
            <mat-card-title class="caimgwrapper">
                <img src="../../assets/images/comimg4.png">
            </mat-card-title>
            <mat-card-title class="textwrapper">
                <p>According to Google, 71% of a car shopper's interactions take place on a mobile device, making geofencing the ideal hyper-targeted advertising solution for dealers.</p>
            </mat-card-title>
            <mat-list class="listwrapper">
                <mat-list-item class="col-12">
                    <span class="listtextwrapper">
                        Landvoice is a real estate leads generator that works with 7500 realtors across North America. Every midnight, Landvoice gathers all records of canceled and expired realtor contracts from the Multiple Listings Service. They then provide those records to their realtors, who then have a jump on the competition in contacting homeowners
and offering their services. </span>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card-title-group>
</mat-card>
<mat-card class="comblock4">
    <mat-card-content class="container">
        <mat-card-title class="textwrapper">
            <h1>This is Big Data at work.</h1>
            <p>Landvoice can bring in thousands of leads each night, each one a homeowner without a realtor. In turn, the realtors Landvoice works with can then begin making calls, knowing that they’re contacting home sellers who don’t have a realtor.
                Because of how the data has been gathered and stored, Landvoice knows they will have information on homeowners who are selling, their addresses
                and their need for a realtor. Having that knowledge increases the chances of a successful transaction for all involved.</p>
        </mat-card-title>
    </mat-card-content>
</mat-card>

<mat-card class="comblock5">
    <mat-card-content class="container">
        <mat-card-title class="textwrapper">
            <h1>GEOFenceDSP takes GEOfence Marketing one step beyond!</h1>
            <p>There are a lot of companies offering GEOfence Marketing solutions, but GEOFenceDSP is the only company out there combining pin-point MicroTargeting capabilities with the fine-detail segmentation of Big Data. We can not only target potential buyers at specific addresses, but we can tell you their income level, buying behavior and credit rating.</p>
        </mat-card-title>


        <mat-list class="listwrapper">
            <mat-list-item class="col-2 subcontainerwrapperimg">
                <mat-card-content class="containersubwrapperimg">
                <span class="imgwrapper"><img src="../../assets/images/comimg8.png"></span>
                <span class="imgwrapper"><img src="../../assets/images/comimg9.png"></span>
                <span class="imgwrapper"><img src="../../assets/images/comimg10.png"></span>
                </mat-card-content>
            </mat-list-item>
            <mat-list-item class="col-2 subcontainerwrapper">
                <mat-card-content class="">
                <span class="imgwrapper"><img src="../../assets/images/comimg11.png"></span>
                    <span class="listtextwrapper"><b>Such precision Microtargeting</b> assures your agency that you’re sending advertising to only the most highly-qualified customers who are most likely to buy from your clients. Our combination of Big Data and GEOFencing capabilities keep you a step ahead of your competitors and maximize your ROI.
</span>
                </mat-card-content>
            </mat-list-item>
        </mat-list>


    </mat-card-content>
</mat-card>


<!--<img src="../../assets/images/commercial_demo1.jpg" alt="#" style="width: 100%;">-->
<!--<img src="../../assets/images/commercial_demo2.jpg" alt="#" style="width: 100%;  margin-top: -4px;">
<img src="../../assets/images/commercial_demo3.jpg" alt="#" style="width: 100%;  margin-top: -4px;">-->
<!--<img src="../../assets/images/commercial_demo4.jpg" alt="#" style="width: 100%;  margin-top: -4px;">-->
<!--<img src="../../assets/images/commercial_demo5.jpg" alt="#" style="width: 100%;  margin-top: -4px;">-->
<!--<img src="../../assets/images/commercial_demo6.jpg" alt="#" style="width: 100%;  margin-top: -4px;">-->

<app-footer></app-footer>
