<app-header></app-header>


<mat-card class="gettopbannerblock">
    <mat-card-content class="container">
        <mat-card-title class="textwrapper">
            <h1>GET STARTED!!</h1>
        </mat-card-title>
    </mat-card-content>
</mat-card>

<mat-card class="getblock2">
    <mat-card-content class="container">
        <mat-card-title class="textwrapper">
        <h1> Contact Us Now!</h1>
            <p><span>GEOFenceDSP is the only</span> GEOfencing demand-side platform fusing the targeting power of GEOlocation software with the detailed segmentation of Big Data. Together, these tools give agencies unprecedented control over who sees their advertising, as well as the ability to send a constant
            stream of ads to any device that crosses our fenceline.</p>
        <h5>Working with us will spur growth in your customer engagement and ensure massive ROI. Get a hold of us today to find out how to get started. We have the tools and the support team to boost the effectiveness of your mobile marketing, increase conversion rates and pump up your ROI!</h5>

     <a routerLink="/contactus"> <button mat-flat-button class="get_started_btton">get starterd now! </button></a>
      </mat-card-title>

        <mat-card-content class="getimgwrapper">
            <img src="../../assets/images/getimg1.png">
        </mat-card-content>
    </mat-card-content>
</mat-card>


<app-footer></app-footer>
