<app-header></app-header>
<!-- <img src="../../assets/images/difference_demo1.jpg" alt="#" style="width: 100%;"> -->

<mat-card class="diff_block1">
  <mat-card-content class="blk1_content_wrapper">
    <mat-card-title class="blk1_title">A trio of important factors set us <br> apart from the competition.
    </mat-card-title>
    <mat-card-subtitle class="blk1_subtitle">
      There are many options your agency could approach for mobile marketing and GEOFencing solutions. But
      GEOFenceDSP.com offers an unbeatable combination of new-school, cutting edge Microtargeting technology, people who
      are industry leaders, and opportunities to be on the leading edge of the field and outpace your competition.
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>
<!-- end blk1 -->

<mat-card class="diff_block2">
  <mat-card-content class="diff_inner2">
    <mat-card-content class="header_part">
      <mat-card-title class="blk2_title"> technology</mat-card-title>
      <mat-card-subtitle class="blk2_subtitle">
        GEOFenceDSP is an industry leader, developing exciting new technology in the field of GEOfencing and mobile
        marketing. Our expert team has developed a way to fence a residential house location down to the exact property
        lines. Because we’re able to access and segment Big Data, we can fence in the properties of buyers we’ve already
        identified as the most highly-qualified according to your criteria and Microtarget them with your ads.

      </mat-card-subtitle>
    </mat-card-content>

    <mat-card-content class="bottom_part">
      <mat-card-content class="leftpart">
        <span class="gradient">
          <span class="inner_image">

            <mat-card-title class="inner_content">GEOFenceDSP’s innovative technology allows you to target any device
              that
              crosses our fenceline. Once a device crosses into a fenced off area, we can continue to send display ads
              to
              that device regardless of its current location. It’s as simple as a potential customer walking past your
              store.
            </mat-card-title>
          </span>
        </span>
      </mat-card-content>
      <mat-card-content class="rightpart">
        <span class="inner_image">
          <mat-card-title class="inner_content">GEOFenceDSP’s innovative technology allows you to target any device that
            crosses our fenceline. Once a device crosses into a fenced off area, we can continue to send display ads to
            that device regardless of its current location. It’s as simple as a potential customer walking past your
            store.
          </mat-card-title>
        </span>
      </mat-card-content>
    </mat-card-content>
  </mat-card-content>
</mat-card>
<!-- end block 2 -->
<mat-card class="diff_block2  diff_block3">
  <mat-card-content class="diff_inner2">
    <mat-card-content class="header_part">
      <mat-card-title class="blk2_title">People</mat-card-title>
      <mat-card-subtitle class="blk2_subtitle">
        Our ground-breaking technology is only one thing that sets us apart from the competition. We also<br> have some
        of
        the best and brightest minds in the industry working at GEOFenceDSP.com.<br>
        People like David Montgomery.

      </mat-card-subtitle>
    </mat-card-content>

    <mat-card-content class="bottom_part">
      <mat-card-content class="leftpart">
        <mat-card-title class="header">Our Chief Technology Officer, </mat-card-title>
        <mat-card-title class="inner_content">Montgomery has been building and optimizing ad exchanges for over fifteen
          years. He built real-time optimization for Poindexter Systems (a.k.a. xplusone), the industry’s first
          behavioral ad network. He also served as chief scientist at Brandscreen, where he real-time algorithms for
          optimizing over 150,000 bids per second across multiple exchanges, including Google ADX, OpenX, Facebook, and
          Rubicon, among others. Brandscreen was later sold to MediaMath for over $300 million.

        </mat-card-title>

      </mat-card-content>
      <mat-card-content class="rightpart">
        <mat-card-title class="inner_content">
          David  Montgomery currently builds and <br> architects DSPs that serve up to 100,000 bids per<br> second across
          multiple
          data centers and SSPs.
        </mat-card-title>

        <mat-card-title class="inner_contentbottom">With people like David Montgomery, as well as our<br>
          co-CEOs Beto Paredes and Brance Wages and our talented,<br> versatile staff, GEOFenceDSP.com can handle any
          digital marketing<br> issue you can throw at us.

        </mat-card-title>

      </mat-card-content>
    </mat-card-content>
  </mat-card-content>
</mat-card>
<!-- end block 3 -->

<mat-card class="block4">
  <mat-card-content class="blk4_inner_wrapper">
    <mat-card-content class="blk4_headerpart">
      <mat-card-title class="blk4title">opportunity</mat-card-title>
      <mat-card-subtitle class="blk4subtitle">
        The combination of our ahead-of-its-time tech and our top-notch people create a third important factor that sets <br><a href="javascript:void(www.geofencedsp.com)">GEOFenceDSP.com</a> apart from the competition: Opportunity! Our platform gives agencies that work with us an opportunity to<br> greatly expand their marketing reach while also fine-tuning and Microtargeting only the best prospective customers.
        <br><br>
        GEOFenceDSP.com also gives our agency partners the opportunity to get a jump on the competition by<br> getting ahead of the technological curve.

      </mat-card-subtitle>
    </mat-card-content>
  </mat-card-content>
</mat-card>


<!-- end block 4 -->

<mat-card class="diff_block5">
  <mat-card-content class="content_section">
    <mat-card-title class="b5_title"> when you boil it all down,</mat-card-title>
    <mat-card-subtitle class="b5_subtitle"> The biggest opportunity working with GEOFenceDSP.com brings your agency is the opportunity to pump up your ROI. Hit us up today to see what we can do for you!
       </mat-card-subtitle>
  </mat-card-content>
  <span class="content2">
      <a routerLink="/contactus"><button mat-flat-button class="get_started_btton"> get started now </button></a>
  </span>
</mat-card>





<app-footer></app-footer>
