<app-header></app-header>

<mat-card class="blok1">
  <mat-card-content class="blk1_container">
    <mat-card-title class="blk1_title">Mobile Marketing is expected to account for 72% of<br>
      the total U.S. digital ad spending by 2019.
    </mat-card-title>
    <mat-card-subtitle class="blk1_subtitle">
      <span class="sub">Take advantage!</span>
      As the popularity and capabilities of smartphones, tablets and other hand-held <br>devices grows, so does the
      sheer
      number of opportunities to make<br>
      sales to the owners of those devices.
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>

<mat-card class="block2">
  <mat-card-content class="block2_wrapper">
    <mat-card-title class="title"> the stats</mat-card-title>

    <mat-card-content class="topblock">
      <span class="image_wrapper">
        <img src="/assets/images/theSeatsimage1.jpg">
      </span>
      <mat-card-content class="innerblock">
        <mat-card-title>Look over these numbers and <br>
          consider the possibilities:</mat-card-title>

        <mat-list class="list_section">
          <mat-list-item> According to Netmera.com, consumers now spend 85% of their time on their phones.
          </mat-list-item>
          <mat-list-item> 68% of online retail traffic comes via mobile devices </mat-list-item>
          <mat-list-item> 46% of online orders come via mobile devices </mat-list-item>
          <mat-list-item> 84% of plan to shop online via mobile </mat-list-item>
          <mat-list-item> 43% of online gamers download two or more mobile games and 80% of them spend more time playing
            mobile games </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card-content>
    <mat-card-content class="topblock bottomblock">
      <mat-card-content class="innerblock">
        <mat-card-title>Look over these numbers and <br>
          consider the possibilities:</mat-card-title>

        <mat-list class="list_section">
          <mat-list-item> 85% of marketers achieved growth in their customer base </mat-list-item>
          <mat-list-item> 83% of marketers experienced higher response rates </mat-list-item>
          <mat-list-item> 83% of marketers saw higher customer engagement </mat-list-item>
        </mat-list>
      </mat-card-content>
      <span class="image_wrapper">
        <img src="/assets/images/theSeatsimage2.jpg">
      </span>
    </mat-card-content>

  </mat-card-content>
</mat-card>

<mat-card class="block3">
  <mat-card-content class="block3_wrapper">
    <mat-card-title class="heading"> how it works </mat-card-title>

    <mat-card-content class="inner_block">
      <mat-card-title class="top_content">Mobile Marketers target specific phones, tablets and other hand-held devices
        and reaches prospectivecustomers through mobile-friendly games, apps,
        websites and social media platforms.
      </mat-card-title>
      <mat-card-subtitle class="bottom_content">GEOFencing technology adds an extra level of effectiveness to your
        mobile marketing efforts. This tech allows
        us to put up a fence around a property with extreme precision. Agencies can then target any device that crosses
        that fenceline and send them targeted advertising. This gives marketers more control over their ads and can
        drive customers to their client’s businesses.

      </mat-card-subtitle>
    </mat-card-content>


  </mat-card-content>
</mat-card>

<mat-card class="block3  block4 ">
  <mat-card-content class="block3_wrapper">
    <mat-card-title class="heading">GEOFenceDSP </mat-card-title>
    <mat-card-subtitle class="subtitle"> Your ultimate Mobile Marketing solution!</mat-card-subtitle>

    <mat-card-content class="inner_block">
      <mat-card-subtitle class="bottom_content">GEOFenceDSP is here to help your agency take full advantage of the developing mobile marketing trend and give you maximum ROI. Combining advanced GEOLocation tech and Big Data-driven segmentation, GEOFenceDSP gives you the ability to micro target the highest-qualified potential customers who are perfect targets for your clients
        and customers. </mat-card-subtitle>
      <mat-card-title class="top_content">You have mobile advertising questions. GEOFenceDSP has the solutions. Talk to us today to see how we can help you! </mat-card-title>
    </mat-card-content>
    <a routerLink="/contactus"><button class="contact_us" mat-flat-button>Contact Us and get Started</button></a>
  </mat-card-content>
</mat-card>

<app-footer></app-footer>
