.mat-card{ box-shadow: none!important; border-radius: 0!important;}

.blok1{padding: 30px!important; background: url(/assets/images/MMBlok1bg.jpg) no-repeat center center; min-height: 455px; display: flex; justify-content: center; align-items: center;  background-size: cover; }
.blok1 .blk1_container{ width: 75%; margin: 0 auto; text-align: center; }
.blok1 .blk1_container  .blk1_title { font-family: "MontserratBold"; font-size: 40px; color: #fff; text-transform: uppercase; margin-bottom: 30px;}
.blok1 .blk1_container  .blk1_subtitle .sub{ font-family: "MontserratBold"; font-size: 50px; color: #fff; text-transform: uppercase; display: block; margin-bottom: 15px; }
.blok1 .blk1_container  .blk1_subtitle { font-family: "MontserratBold"; font-size: 30px; color: #fff; }

.block2 {padding: 0!important; }
.block2 .block2_wrapper{ width: 1440px; margin: 0 auto; padding: 50px!important;}
.block2 .block2_wrapper .title{text-align: center; font-size: 40px; font-family: 'MontserratBold'; color: #3f3f3f; text-transform: uppercase; margin-bottom: 30px; }
.block2 .block2_wrapper .topblock{ display: flex; width:100%; justify-content: space-between; align-items: center; }
.block2 .block2_wrapper .topblock .innerblock{ margin-left: 35px; width: 50%; }
.block2 .block2_wrapper .topblock .innerblock .list_section .mat-list-item {font-family: "LatoRegular"; font-size: 20px; text-transform: uppercase;  background: url(/assets/images/listIcon.png) no-repeat left center; padding-left: 20px;    height: auto;
  margin: 10px 0; line-height: 30px; }
.block2 .block2_wrapper .topblock .image_wrapper{ display: block; }
.block2 .block2_wrapper .topblock .image_wrapper img{ max-width: 100%;}
.block2 .block2_wrapper .topblock .innerblock .mat-card-title{ font-family: "MontserratBold"; color: #606365; text-transform: uppercase; font-size: 30px; }
.block2 .block2_wrapper .bottomblock .innerblock { margin-left: 0; margin-right: 35px; margin-bottom: 0; }
.block2 .block2_wrapper .bottomblock { margin-top: 35px; }

.block3 { background: url(/assets/images/MMBlok3bg.jpg) no-repeat center center; background-size: cover; padding: 50px 20px!important; }
.block3 .block3_wrapper{ width: 1410px; margin: 0 auto;}
.block3 .block3_wrapper .inner_block{ background: url(/assets/images/MMBlok3subbg.jpg) no-repeat 0% center; background-size: cover; padding: 65px 20px; padding-left: 425px; }
.block3 .block3_wrapper .inner_block .top_content { font-family: 'LatoBold'; color: #3f3f3f; text-transform: uppercase; font-size: 20px; margin-bottom: 40px; line-height: 30px; }
.block3 .block3_wrapper .inner_block .bottom_content { font-family: 'LatoRegular'; color: #3f3f3f; font-size: 20px; line-height: 30px; border-left: 3px solid #00bfff;
  padding-left: 15px; }
.block3 .block3_wrapper .heading{ font-family: "MontserratBold"; font-size: 40px; color: #fff; text-align: center; text-transform: uppercase; margin-bottom: 35px; }
.block4{ background: none!important;}
.block4 .block3_wrapper .inner_block{ background: url(/assets/images/MMBlok4bg.jpg) no-repeat 0% center!important; background-size: cover; padding: 30px!important; }
.block4 .block3_wrapper .inner_block .bottom_content{ width:750px; margin-bottom: 40px; color: #f6f6f6; font-family: "LatoRegular"; font-size: 20px; border: none; padding-left: 0;}
.block4 .block3_wrapper .inner_block .top_content{ width:100%; margin-bottom: 0px; color: #f6f6f6; font-family: "LatoRegular"; font-size: 20px; border: none; padding-left: 0;}
.block4 .block3_wrapper .contact_us{ border-radius: 3px!important; background:#33333a; color: #eeeeee; font-family: "LatoBold"; font-size: 20px; margin: 40px auto; width: 325px; display: block; padding: 3px 2px 5px; margin-bottom: 0; }
.block4 .block3_wrapper .heading { font-family: "MontserratBold"; font-size: 40px; color: #3f3f3f; text-align: center; text-transform: uppercase; margin-bottom: 25px; }
.block4 .block3_wrapper .subtitle { text-align: center; color:#606365; font-family: "MontserratBold"; text-transform: uppercase;  margin-bottom: 28px; font-size: 30px; }

@media screen and (max-width: 1600px){
  .block2 .block2_wrapper { width: 90%; }
}
@media screen and (max-width: 1480px){
  .block3 .block3_wrapper { width: 90%; }
}
@media screen and (max-width: 1440px){
  .blok1 .blk1_container { width: 100%; }
}
@media screen and (max-width: 1366px){
  .block3 .block3_wrapper .inner_block { padding: 40px 20px; padding-left: 425px; }
}
@media screen and (max-width: 1300px){
  .block2 .block2_wrapper .topblock .innerblock .list_section .mat-list-item { font-size: 18px; line-height: 22px; }
  .block2 .block2_wrapper { width: 100%; box-sizing: border-box; }
}
@media screen and (max-width: 1230px){
  .block2 .block2_wrapper .topblock .innerblock { width: 47%; }
  .block2 .block2_wrapper .topblock .innerblock .mat-card-title { font-size: 24px; }
}
@media screen and (max-width: 1199px){
.blok1 .blk1_container .blk1_title br,
.blok1 .blk1_container .blk1_subtitle br{ display: none; }
.blok1 { min-height: inherit; }
.block3 .block3_wrapper .inner_block { padding: 40px 30px; background-position: 0% top!important; background-size: 240%; padding-top: 68%; background-color: #ebe8e3; }

.block4 .block3_wrapper .inner_block {
  background-size: 190%!important;
  padding: 30px!important;
  background-position: 100% top!important;
  padding-top: 40%!important;
  background-color: #2b2b2d!important;
  text-align: center;
}
.block4 .block3_wrapper .inner_block .bottom_content { width: 100%; }
}
@media screen and (max-width: 1140px){
.block2 .block2_wrapper { padding: 35px!important; }
.block2 .block2_wrapper .topblock .innerblock .mat-card-title { font-size: 22px; }
.block2 .block2_wrapper .topblock .innerblock .list_section .mat-list-item { font-size: 18px; }
}
@media screen and (max-width: 992px){
.blok1 .blk1_container .blk1_title { font-size: 30px; }
.blok1 .blk1_container .blk1_subtitle .sub { font-size: 36px; }
.blok1 .blk1_container .blk1_subtitle { font-size: 26px; }
.block2 .block2_wrapper .topblock { display: flex; flex-direction: column; }
.block2 .block2_wrapper .topblock .innerblock { width: 100%; margin-left: 0; }
.block2 .block2_wrapper .bottomblock .innerblock { margin-right: 0px; }
.block2 .block2_wrapper { text-align: center; }
.block2 .block2_wrapper .topblock .innerblock .list_section .mat-list-item {background-position: center top; padding-left: 0px; margin: 10px 0; padding: 30px 0 10px 0; align-items: center; justify-content: center; display: flex; }
.block2 .block2_wrapper .bottomblock { flex-direction: column-reverse!important; }
.block2 .block2_wrapper .topblock .innerblock .mat-card-title { margin-top: 25px; }
.block3 .block3_wrapper { width: 100%; }
.block3 .block3_wrapper .inner_block { text-align: center; }
.block3 .block3_wrapper .inner_block .bottom_content { border-left:0px; padding-left: 0px; }
.block4 .block3_wrapper .inner_block { padding: 20px!important; padding-top: 40%!important; }

}
@media screen and (max-width: 400px){
  .block4 .block3_wrapper .contact_us { width: 96%; }

}
@media screen and (max-width: 360px){
.blok1 { padding: 20px!important; }
.blok1 .blk1_container .blk1_title { font-size: 22px; }
.blok1 .blk1_container .blk1_subtitle .sub { font-size: 28px; }
.block2 .block2_wrapper { padding: 20px!important; }
.block2 .block2_wrapper .topblock .innerblock .list_section .mat-list-item { font-size: 16px; line-height: 20px; }
.block3 { padding: 28px 20px!important; }
.block3 .block3_wrapper .heading { font-size: 34px; margin-bottom: 24px; }
.block3 .block3_wrapper .inner_block { text-align: center; word-break: break-word; padding: 30px 20px; padding-top: 70%;}
}
a{ text-decoration: none; color: #fff; }
