<app-header></app-header>
<mat-card class="block1">
  <mat-card-content class="inner_wrapper1">
    <mat-card-title class="title1">We are a Platform Service for your BIG DATA 
      advertising clients and Agencies </mat-card-title>
    <mat-card-subtitle class="subtitle1">
      We offer your clients the ability to access your BIG DATA set to utilize our services. 
      Whether that be direct as advertisers or to other agencies that want to access your data. 
      Our services allow you to both sell direct as well as have agencies build their own campaigns and have their own advertisers.
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>

<mat-card class="vmblock vmblock1">
  <img src="../../assets/images/bgpi_vmbanner1.png">
</mat-card>
<mat-card class="vmblock vmblock2">
  <img src="../../assets/images/bgpi_vmbanner2.png">
</mat-card>
<mat-card class="vmblock vmblock3">
  <img src="../../assets/images/bgpi_vmbanner3.png">
  <div class="buttonwrapper">
    <a mat-button class="blackbutton" href="../../assets/images/HMM_Helios Medical Presentation.pdf" target="_blank">Media Deck</a>
    <a mat-button class="bluebutton" href="https://helios.influxiq.com/" target="_blank"> Website</a>
  </div>
</mat-card>
<mat-card class="vmblock vmblock4">
  <img src="../../assets/images/bgpi_vmbanner4.png">
  <div class="buttonwrapper">
    <a mat-button class="blackbutton" href="../../assets/images/LocalCarOwner.com Sales Deck.pdf" target="_blank">Media Deck</a>
    <a mat-button class="bluebutton" href="https://www.localcarowner.com/" target="_blank"> Website</a>
  </div>
</mat-card>
<mat-card class="vmblock vmblock5">
  <img src="../../assets/images/bgpi_vmbanner5.png">
  <div class="buttonwrapper">
    <a mat-button class="blackbutton" href="../../assets/images/MONETIZE365 - PRESENTATION DECK.pdf" target="_blank">Media Deck</a>
    <a mat-button class="bluebutton" href="http://www.monetize365.com/" target="_blank"> Website</a>
  </div>
</mat-card>
<mat-card class="vmblock vmblock6">
  <img src="../../assets/images/bgpi_vmbanner6.png">
</mat-card>


<app-footer></app-footer>