<app-header></app-header>
<mat-card class="block1">
  <mat-card-content class="inner_wrapper1">
    <mat-card-title class="title1">We are a Platform Service for your BIG DATA 
      advertising clients and Agencies </mat-card-title>
    <mat-card-subtitle class="subtitle1">
      We offer your clients the ability to access your BIG DATA set to utilize our services. 
      Whether that be direct as advertisers or to other agencies that want to access your data. 
      Our services allow you to both sell direct as well as have agencies build their own campaigns and have their own advertisers.
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>

<!-- <mat-card class="vmblock vmblock1">
  <img src="../../assets/images/bgpi_vmbanner1.png">
</mat-card> -->

<mat-card class="bigdatapartnerintblock1 gencls">
  <mat-card-content class="mainwrapper">
    <mat-card-title class="title">Our Integration Process</mat-card-title>
    <div class="flex-row-gen contentblock">
      <div class="main-row-gen">
        <p>We offer a fully managed integration process to make a smooth transition for your service model that comes with the partnership <br>agreement. Please review the process and look at some examples of our current integrations below.</p>  
        <mat-card-title class="title">The process of integration with our BIG DATA Partners:</mat-card-title>
        <mat-card-subtitle class="subtitle">Sharing in the revenue and continuing services costs</mat-card-subtitle>
        <mat-list class="bigdatapartnerintblock1lists">
          <mat-list-item> Analysis of the data set you provide for best use case brand development</mat-list-item>
          <mat-list-item>Analysis of any API or automation that may be required between technologies</mat-list-item>
          <mat-list-item>Contracting and agreements circulated, and signatures initiated</mat-list-item>
          <mat-list-item>Development work managed through our team or in consort with yours to get all the integrations managed. We do bill out at $75hr for integration work which we will give you full reporting on.</mat-list-item>
          <mat-list-item>Branding of the GEOFenceDSP software reports, and interface to match your agency brand.</mat-list-item>
          <mat-list-item>Content development to include a blend of your agency model and our technology and services (all done in collaboration with your teams)</mat-list-item>
          <mat-list-item>Branding of marketing materials to be used in your presentations, media decks and sales track</mat-list-item>
        </mat-list>

      </div>      
    </div>
  </mat-card-content>
</mat-card>

<!-- <mat-card class="vmblock vmblock2">
  <img src="../../assets/images/bgpi_vmbanner2.png">
</mat-card> -->

<mat-card class="bigdatapartnerintblock2 gencls">
  <mat-card-content class="mainwrapper">
    <mat-card-title class="title">GEOFenceDSP platform and services</mat-card-title>
    <div class="flex-row-gen contentblock">
      <div class="main-row-gen">
        <p>Get more leads with custom banner ads! Our eye catching ads <br>makes reaching your target demographics easier!</p>  
        <mat-list class="bigdatapartnerintblock2lists">
          <mat-list-item><span>There is an industry</span> standard demand side wholesale price that bill on every CPM that is managed through our technology on GEO Fencing.  This wholesale dollar is normally marked up 25% to 50% depending on your data science and agency model.</mat-list-item>
          <mat-list-item><span>For example,</span> at a 30% mark up, if there is a $3.00 wholesale CPM you would charge your client $3.90 for that CPM retaining the additional $.90 in profit.  If it was a $10.00 CPM coming off premium inventory you would charge $13.00 retaining the $3.00 mark up.</mat-list-item>
          <mat-list-item><span>If you plan to</span> service agencies, then we suggest that you stick with a 40% mark up keeping 20% of the mark up and allowing the agencies to retail the other 20%.  Although you should choose an agreed upon mark up as to not create unfair competition and stick to industry fairness. We can consult with you on all these matters as partners.</mat-list-item>
          <mat-list-item><span>For creative</span> services we offer several packages (banners + funnel for example) that you can mark up and sell to your clients for creative work.  This again can be done by us, you or a combination.  We will work with you. If it is us doing 100% of the creative management, we suggest a 20% mark up for profit on all of our packages.</mat-list-item>
        </mat-list>
      </div>      
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="bigdatapartnerintblock3 gencls">
  <mat-card-content class="mainwrapper">
    <mat-card-title class="title">Facebook and Retargeting</mat-card-title>
    <div class="flex-row-gen contentblock">
      <div class="main-row-gen">
        <p>For other services that we offer if you choose to use our firm for Facebook or Retargeting management, this is done through other <br>technology interfaces. We charge a standard 20% mark up for both and suggest you pass that at 30% keeping an additional 10% <br>(many agencies choose to manage this part themselves, but it is offered through our services).</p>
      </div>      
    </div>
  </mat-card-content>
</mat-card>
<!-- <mat-card class="vmblock vmblock3">
  <img src="../../assets/images/bgpi_vmbanner3.png">
  <div class="buttonwrapper">
    <a mat-button class="blackbutton" href="../../assets/images/HMM_Helios Medical Presentation.pdf" target="_blank">Media Deck</a>
    <a mat-button class="bluebutton" href="https://helios.influxiq.com/" target="_blank"> Website</a>
  </div>
</mat-card> -->
<mat-card class="bigdatapartnerintblock4 gencls">
  <mat-card-content class="mainwrapper">
    <mat-card-title class="title">The following are examples of BIG DATA Partner integrations <br>that we have developed here at GEOFenceDSP.</mat-card-title>
    <div class="flex-row-gen contentblock">
      <div class="main-row-gen">
        <span class="logoimgwrapper">
          <img src="../../assets/images/logo-helios.png">
        </span>
        <p>Helios Medical Marketing is partnered with one of the largest medical survey data companies in the United States. We have been able to open several opportunities within their current client set and their services are open to the entire health care industry.</p>
        <div class="buttonwrapper">
          <a mat-button class="blackbutton" href="../../assets/images/HMM_Helios Medical Presentation.pdf" target="_blank">Media Deck</a>
          <a mat-button class="bluebutton" href="https://heliosmedicalmarketing.com/" target="_blank"> Website</a>
        </div>
      </div>      
      <div class="sideblock-row-gen">
        <span class="bigdatapartnerintblock4">
          <img src="../../assets/images/helios-screen.jpg">
        </span>        
      </div>      
    </div>

    <div class="flex-row-gen contentblock">
      <div class="main-row-gen">
        <span class="logoimgwrapper">
          <img src="../../assets/images/logo-localcarowner.png">
        </span>
        <p>LocalCarOwner.com has been servicing the automotive industry for over 20 years. They currently have many major dealership clients.  They maintain one of the largest car buyer databases in the country with over 150 million car buyer records. We have fully integrated into their service set.</p>
        <div class="buttonwrapper">
          <a mat-button class="blackbutton" href="../../assets/images/LocalCarOwner.com Sales Deck.pdf" target="_blank">Media Deck</a>
          <a mat-button class="bluebutton" href="https://www.localcarowner.com/" target="_blank"> Website</a>
        </div>
      </div>      
      <div class="sideblock-row-gen">
        <span class="bigdatapartnerintblock4">
          <img src="../../assets/images/localcarowner-screen.jpg">
        </span>        
      </div>      
    </div>

    <div class="flex-row-gen contentblock">
      <div class="main-row-gen">
        <span class="logoimgwrapper">
          <img src="../../assets/images/logo-monetize365.png">
        </span>
        <p>Monetize365 is partnered with one of the largest data companies to grow your sales. By accessing their business and residential data as well as their expertise as an digital marketing agency, we are able to provide their clients microtargeted geofencing solutions.</p>
        <div class="buttonwrapper">
          <a mat-button class="blackbutton" href="../../assets/images/MONETIZE365 - PRESENTATION DECK.pdf" target="_blank">Media Deck</a>
          <a mat-button class="bluebutton" href="https://www.monetize365.com/" target="_blank"> Website</a>
        </div>
      </div>      
      <div class="sideblock-row-gen">
        <span class="bigdatapartnerintblock4">
          <img src="../../assets/images/monetize365-screen.jpg">
        </span>        
      </div>      
    </div>


  </mat-card-content>
</mat-card>

<mat-card class="bigdatapartnerintblock5 gencls">
  <mat-card-content class="mainwrapper">
    <div class="flex-row-gen contentblock">
      <div class="main-row-gen">
        <mat-card-title class="title">We have several other examples of integrations we are currently working on.  We would love to have the <br>opportunity to speak with you about becoming a BIG DATA Partner with GEOFenceDSP.  Please contact us right <br>away to learn more.</mat-card-title>        
      </div>      
    </div>
  </mat-card-content>
</mat-card>


<!-- <mat-card class="vmblock vmblock3">
  <img src="../../assets/images/bgpi_vmbanner3.png">
  <div class="buttonwrapper">
    <a mat-button class="blackbutton" href="../../assets/images/HMM_Helios Medical Presentation.pdf" target="_blank">Media Deck</a>
    <a mat-button class="bluebutton" href="https://helios.influxiq.com/" target="_blank"> Website</a>
  </div>
</mat-card> -->
<!-- <mat-card class="vmblock vmblock4">
  <img src="../../assets/images/bgpi_vmbanner4.png">
  <div class="buttonwrapper">
    <a mat-button class="blackbutton" href="../../assets/images/LocalCarOwner.com Sales Deck.pdf" target="_blank">Media Deck</a>
    <a mat-button class="bluebutton" href="https://www.localcarowner.com/" target="_blank"> Website</a>
  </div>
</mat-card>
<mat-card class="vmblock vmblock5">
  <img src="../../assets/images/bgpi_vmbanner5.png">
  <div class="buttonwrapper">
    <a mat-button class="blackbutton" href="../../assets/images/MONETIZE365 - PRESENTATION DECK.pdf" target="_blank">Media Deck</a>
    <a mat-button class="bluebutton" href="http://www.monetize365.com/" target="_blank"> Website</a>
  </div>
</mat-card> -->
<!-- <mat-card class="vmblock vmblock6">
  <img src="../../assets/images/bgpi_vmbanner6.png">
</mat-card> -->


<app-footer></app-footer>