<app-header></app-header>

<mat-card class="blok1">
  <mat-card-content class="inner_container">
    <mat-card-title class="top_title">use Progressive</mat-card-title>
    <mat-card-title class="title">Banner Ad Formats</mat-card-title>
    <mat-list class="list_items">
      <mat-list-item> Launch campaign swiftly </mat-list-item>
      <mat-list-item> Afford best placements </mat-list-item>
      <mat-list-item> Get clicks instantly </mat-list-item>
     </mat-list>



    <mat-card-subtitle class="subtitle">With banner advertising reaching your target demographics became much easier.
      Apply different ad formats, ad units and banner ad sizes for multiple ad campaigns. Customize the way banner ads
      are served on sites through programmatic platform.
      Tune online banner advertising performance and easily reach highest
      click through rate and engagement.
      Make online banner ads work for you!</mat-card-subtitle>
  </mat-card-content>
</mat-card>

<mat-card class="blok2">
  <mat-card-content class="container">
    <mat-card-title class="title2"><span>Banner ads:</span> versatile and universal</mat-card-title>
    <mat-list class="list2">
      <mat-list-item>Banner advertising is a highly customizable online advertising option. With interstitial, mobile, video, and rich media banners<br> marketers boost campaign effectiveness on 70%.</mat-list-item>
      <mat-list-item>The bigger banner advertising formats are the most memorable while smaller, agile ad units work best for in-app and mobile<br> display advertising.</mat-list-item>
      <mat-list-item>Serving different banner advertising formats and sizes through DSP, you reach precize audience and<br>
        suit advertising banner according to your marketing campaign stage.</mat-list-item>
      <mat-list-item>Want to see memorable up-to-context digital banner ads at your site? Register at our SSP<br>
        and monetize inventory with online banners ads that perfectly align with your users.</mat-list-item>


    </mat-list>
  </mat-card-content>
</mat-card>






<!-- <div class="image_wrapper">
  <img src="/assets/images/addBannerimage1.jpg">
</div> -->
<!-- <div class="image_wrapper">
  <img src="/assets/images/addBannerimage2.jpg">
</div> -->
<div class="image_wrapper">
  <img src="/assets/images/addBannerimage3.jpg">
</div>
<div class="image_wrapper">
  <img src="/assets/images/addBannerimage4.jpg">
</div>
<div class="image_wrapper">
  <a routerLink="/contactus"><img src="/assets/images/addBannerimage5.jpg"></a>
</div>
<app-footer></app-footer>
