<app-header></app-header>

<mat-card class="blok1">
  <mat-card-content class="inner_container">
    <mat-card-title class="top_title">use Progressive</mat-card-title>
    <mat-card-title class="title">Banner Ad Formats</mat-card-title>
    <mat-list class="list_items">
      <mat-list-item> Launch campaign swiftly </mat-list-item>
      <mat-list-item> Afford best placements </mat-list-item>
      <mat-list-item> Get clicks instantly </mat-list-item>
    </mat-list>



    <mat-card-subtitle class="subtitle">With banner advertising reaching your target demographics became much easier.
      Apply different ad formats, ad units and banner ad sizes for multiple ad campaigns. Customize the way banner ads
      are served on sites through programmatic platform.
      Tune online banner advertising performance and easily reach highest
      click through rate and engagement.
      Make online banner ads work for you!</mat-card-subtitle>
  </mat-card-content>
</mat-card>

<mat-card class="blok2">
  <mat-card-content class="container">
    <mat-card-title class="title2"><span>Banner ads:</span> versatile and universal</mat-card-title>
    <mat-list class="list2">
      <mat-list-item>Banner advertising is a highly customizable online advertising option. With interstitial, mobile,
        video, and rich media banners<br> marketers boost campaign effectiveness on 70%.</mat-list-item>
      <mat-list-item>The bigger banner advertising formats are the most memorable while smaller, agile ad units work
        best for in-app and mobile<br> display advertising.</mat-list-item>
      <mat-list-item>Serving different banner advertising formats and sizes through DSP, you reach precize audience
        and<br>
        suit advertising banner according to your marketing campaign stage.</mat-list-item>
      <mat-list-item>Want to see memorable up-to-context digital banner ads at your site? Register at our SSP<br>
        and monetize inventory with online banners ads that perfectly align with your users.</mat-list-item>


    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card class="blok3">
  <mat-card-content class="inner_contain">
    <mat-card-title class="title">Universal Ad Package: Most Popular Ad Sizes</mat-card-title>

    <mat-card-content class="top1">
      <mat-card-content class="inner inner1">
        <mat-card-title>IAB Medium Rectangle <span>(300*250)</span></mat-card-title>
        <p>Medium Rectangle Size fits well digital banner ads on desktop and mobile screens. This spacious<br>
          rectangle size fits more information and is handy for adapting the modules in case different <br> channels
          should be applied
          (outdoor, TV, ect.)</p>

      </mat-card-content>
      <span class="img_wrapper">
        <img clas="banner_img" src="/assets/images/adB-res1.jpg" style="position: relative; z-index: 1;  ">
        <img class="arrow1" src="/assets/images/addBannerarrow1.png">
      </span>

    </mat-card-content>

    <mat-card-content class="top1 two">
      <span class="img_wrapper">
        <img clas="banner_img" src="/assets/images/res2.png" style="position: relative; z-index: 1; ">
        <img class="arrow2" src="/assets/images/addBannerarrow2.png">
      </span>
      <mat-card-content class="inner inner2">
        <mat-card-title>IAB Mobile Leaderboard / Smartphone static banner<span>(300*50)</span></mat-card-title>
        <p>Leaderboard advertising banner is large and visible, fits well seasonal ad campaigns with sales<br> and
          special propositions. Smartphone static banner is universal, cost-efficient and<br> flexible, - locate it at
          the top, bottom or at the middle of the screen.</p>
      </mat-card-content>

    </mat-card-content>
    <mat-card-content class="top1 three">
      <mat-card-content class="inner inner3">
        <mat-card-title> IAB Leaderboard <span>(728*90)</span></mat-card-title>
        <p>Advertising banners with IAB Leaderboard focus on the visual aspect of the message. The<br> Leaderboards are
          best converted when placed above-the-fold, at the top or bottom of the page.</p>

      </mat-card-content>
      <span class="img_wrapper">
        <img clas="banner_img" src="/assets/images/res3.png" style="position: relative; z-index: 1; max-width: 100%;">
        <img class="arrow3" src="/assets/images/addBannerarrow3.png">
      </span>

    </mat-card-content>

    <mat-card-content class="top1 four">
      <span class="img_wrapper">
        <img clas="banner_img4" src="/assets/images/res4.png" style="position: relative; z-index: 1; ">
        <img class="arrow4" src="/assets/images/addBannerarrow4.png">
      </span>
      <mat-card-content class="inner inner4">
        <mat-card-title>IAB Wide Skyscraper<span>(160*600)</span></mat-card-title>
        <p>Wide Skyscraper banner ads are located lower on the webpage and or in the center, that’s why<br> they don’t
          mess with the page’s content, and don't get blocked. Wide Skyscraper is hard to miss,<br> and allows to
          accomodate a larger portion of content.</p>
      </mat-card-content>

    </mat-card-content>

  </mat-card-content>
</mat-card>

<mat-card class="block4">
  <mat-card-content class="inner_wrapper">
    <mat-card-title class="title">Standard Ad Units</mat-card-title>
    <mat-card-content class="inner_wrap">
      <mat-card-content class="content">
        <mat-card-title class="content_title">Additional standard ad units for static and interactive experience
          delivered on mobile and desktop platforms.</mat-card-title>
        <mat-list class="list_items">
          <mat-list-item>IAB Mobile phone full screen (320*480)</mat-list-item>
          <mat-list-item>Mobile Interstitial Landscape (480*320)</mat-list-item>
          <mat-list-item>IAB Mobile phone thin banner (300*50)</mat-list-item>

        </mat-list>
        <mat-list class="list_items">

          <mat-list-item>IAB Mobile phone thin full screen (300*600)</mat-list-item>
          <mat-list-item>Billboard (970*250)</mat-list-item>
          <mat-list-item>Tablet Interstitial (768*1024)</mat-list-item>

        </mat-list>
        <span class="clearfix"></span>
      </mat-card-content>
      <mat-card-content class="image_wrapper">
        <img src="/assets/images/addBannerResSlab.png">
      </mat-card-content>
    </mat-card-content>
    <mat-card-content class="inner_wrap">
      <mat-card-content class="image_wrapper">
        <img src="/assets/images/addBannerResFormat.png">
      </mat-card-content>
      <mat-card-content class="content">

        <mat-card-title class="content_title">Custom Banner Sizes </mat-card-title>
        <p>Searching for unique banner ad formats and sizes which are custom designed and meet your brand’s need and
          individual requirements? Meet your marketing aims with custom banner dimensions.</p>
      </mat-card-content>

    </mat-card-content>
    <mat-card-content class="inner_wrap">
      <mat-card-content class="content">
        <mat-card-title class="content_title">Rich Media Banner Ads</mat-card-title>

        <p>Rich media banner is a highly interactive ad unit and involves expandable and interactive banners,
          billboards, and pushdowns (728*90), which expand to 728x400. The IAB’s rising star billboard appears in
          970*250, and interactive banner according to the platform.</p>

        <mat-list class="list_items item2">

          <mat-list-item>High conversion</mat-list-item>
          <mat-list-item>High interactivity</mat-list-item>
          <mat-list-item>High engagement</mat-list-item>

        </mat-list>
        <span class="clearfix"></span>
      </mat-card-content>
      <mat-card-content class="image_wrapper">
        <img src="/assets/images/addBannerResSlab3.png">
      </mat-card-content>
    </mat-card-content>
    <mat-card-content class="inner_wrap">
      <mat-card-content class="image_wrapper">
        <img src="/assets/images/addBannerResSlab4.png">
      </mat-card-content>
      <mat-card-content class="content">

        <mat-card-title class="content_title"> Mobile, Interstitial & App Banner Ads </mat-card-title>
        <p>Mobile banner ads are rectangle static or animated ad units that appear on mobile devices in large 336*280 or
          in 320*50, 300*50 and custom resolutions. Mobile app banner ads include interstitial banner ads (336*280 or
          336*280) native banners and playables.</p>
        <mat-list class=" item2">

          <mat-list-item>Highly interactive</mat-list-item>
          <mat-list-item>Cost-effective </mat-list-item>
          <mat-list-item>Easily implemented</mat-list-item>

        </mat-list>
      </mat-card-content>
    </mat-card-content>
    <mat-card-content class="inner_wrap">
      <mat-card-content class="content">
        <mat-card-title class="content_title">Video Banner Ads</mat-card-title>
        <p>Video banner ads feature a video that is played automatically inside the banner frame. <br>In-banner video
          ads expand from 300*250 size to 728*400 upon scroll or hover and redirect<br> the users on the target page
          upon click.</p>

        <mat-list class=" item2">
          <mat-list-item>Non-intrusiven</mat-list-item>
          <mat-list-item>Memorable</mat-list-item>
          <mat-list-item>Interactive</mat-list-item>
        </mat-list>

      </mat-card-content>
      <mat-card-content class="image_wrapper">
        <img src="/assets/images/addBannerResSlab5.png">
      </mat-card-content>
    </mat-card-content>

  </mat-card-content>
</mat-card>

<mat-card class="blok5">
  <mat-card-content class="inner_wrapperlast">
    <mat-card-title class="last_header">Suit banner advertising to your programmatic campaign</mat-card-title>
    <p>Best international brands use advertising banners as universal tools that help to reach their campaign goals
      quickly and<br> effortlessly. Banner ads are easy to design, implement, and control. No matter which banner ad type or
      size you choose we’ll<br> help you to to maximize its ROI channeling your message to the targeted audience at the
      right time and price.</p>
    <mat-card-subtitle class="last_subheader">Connect your banner ads to the ad market of endless opportunities!
    </mat-card-subtitle>
    <a routerLink="/contactus"><button mat-button class="action_button">Try Us</button></a>
  </mat-card-content>
</mat-card>

<app-footer></app-footer>
