<app-header></app-header>
<div class="image_wrapper">
  <img src="/assets/images/addBannerimage1.jpg">
</div>
<div class="image_wrapper">
  <img src="/assets/images/addBannerimage2.jpg">
</div>
<div class="image_wrapper">
  <img src="/assets/images/addBannerimage3.jpg">
</div>
<div class="image_wrapper">
  <img src="/assets/images/addBannerimage4.jpg">
</div>
<div class="image_wrapper">
  <a routerLink="/contactus"><img src="/assets/images/addBannerimage5.jpg"></a>
</div>
<app-footer></app-footer>
