<!-- <mat-card class="main_header">
      <a><img alt="" class="logo" src="../../assets/images/logo.png"></a>
      <mat-card-title>Coming Soon</mat-card-title>
      <button mat-button mat-dialog-close class="close">X</button>
  </mat-card> -->

<app-header></app-header>

<mat-card class="block1">
  <mat-card-content class="inner_wrapper1">
    <!-- <mat-card-title class="title1">Platform Features </mat-card-title> -->
    <mat-card-subtitle class="subtitle1">The GEOFenceDSP.com platform is the most powerful mobile marketing technology
      in the industry. As a BIG DATA Partner, you gain the intelligence of masters of the space that have been
      developing for over 15 years.</mat-card-subtitle>
    <mat-card-subtitle class="subtitle1"> Data and GEOFencing capabilities keep you a step ahead of your competitors and
      maximize your ROI.

    </mat-card-subtitle>
  </mat-card-content>
</mat-card>

<mat-card class="block2">
  <mat-card-content class="inner_wrapper2">
    <mat-card-title class="title2">Here are some of the powerful features that you will get <br>
      with the GEOFenceDSP.com marketing platform
    </mat-card-title>
    <mat-card-content class="content_wrapper">
      <span class="items">
        <span class="image_wrap">
          <img src="/assets/images/platformIcon1.png">
        </span>
        <mat-card-title class="inner_head"> Premium Inventory </mat-card-title>
        <mat-card-subtitle class="inner_body">We are connected to over 60,000 apps in the<br> mobile marketplace and
          have
          access to<br> thousands of websites and other inventory. Your <br>ads will be seen!
        </mat-card-subtitle>
      </span>
      <span class="items">
        <span class="image_wrap">
          <img src="/assets/images/platformIcon2.png">
        </span>
        <mat-card-title class="inner_head"> Agency back office</mat-card-title>
        <mat-card-subtitle class="inner_body">You will get an agency backoffice where you can<br> add any number of
          advertisers and campaigns.
        </mat-card-subtitle>
      </span>


      <span class="items">
        <span class="image_wrap">
          <img src="/assets/images/platformIcon3.png">
        </span>
        <mat-card-title class="inner_head"> Advertiser sub access </mat-card-title>
        <mat-card-subtitle class="inner_body"> Give your advertisers access to review reports<br> and if desired manage
          their own<br>
          campaigns directly.
        </mat-card-subtitle>
      </span>

      <span class="items">
        <span class="image_wrap">
          <img src="/assets/images/platformIcon4.png">
        </span>
        <mat-card-title class="inner_head">Free form plotting</mat-card-title>
        <mat-card-subtitle class="inner_body">Like other GEO fencing technologies, we have a<br> very flexible map
          system free form plotting<br> feature that allows you to draw your<br>
          fence lines.

        </mat-card-subtitle>
      </span>

      <span class="items">
        <span class="image_wrap">
          <img src="/assets/images/platformIcon5.png">
        </span>
        <mat-card-title class="inner_head"> Mulit-address list management</mat-card-title>
        <mat-card-subtitle class="inner_body"> You can add any size of commercial and <br> residential address lists and
          GEO Fence literally<br> millions of residential addresses at a time. NO<br> ONE can do this like us!
        </mat-card-subtitle>
      </span>
      <span class="items">
        <span class="image_wrap">
          <img src="/assets/images/platformIcon6.png">
        </span>
        <mat-card-title class="inner_head"> Customized fence reporting </mat-card-title>
        <mat-card-subtitle class="inner_body"> Ability to dive deep into reporting. You can<br> isolate real time
          reporting down to the individual <br>fence line.
        </mat-card-subtitle>
      </span>
      <span class="items">
        <span class="image_wrap">
          <img src="/assets/images/platformIcon7.png">
        </span>
        <mat-card-title class="inner_head"> Real time reporting </mat-card-title>
        <mat-card-subtitle class="inner_body"> no need to wait days or weeks reporting is<br> available in real time so
          you can make the<br> changes you need to save precious ad spend.
        </mat-card-subtitle>
      </span>

      <span class="items">
        <span class="image_wrap">
          <img src="/assets/images/platformIcon8.png">
        </span>
        <mat-card-title class="inner_head"> True reporting metrics </mat-card-title>
        <mat-card-subtitle class="inner_body"> Calculate your reporting to the minute on CPM,<br> CPC, and manage
          tracking code for your landing<br> pages for accurate CPA. You can get this at the ad <br>group, campaign, and
          even the individual fence line level!

        </mat-card-subtitle>
      </span>
      <span class="items">
        <span class="image_wrap">
          <img src="/assets/images/platformIcon9.png">
        </span>
        <mat-card-title class="inner_head"> Ad delivery flexibility </mat-card-title>
        <mat-card-subtitle class="inner_body"> Users can not only choose what days they want <br> to send ads but also
          down to the hours of <br>delivery and control their spend. </mat-card-subtitle>
      </span>
      <span class="items">
        <span class="image_wrap">
          <img src="/assets/images/platformIcon10.png">
        </span>
        <mat-card-title class="inner_head"> A/B Ad Optimization </mat-card-title>
        <mat-card-subtitle class="inner_body"> You can run Ads against each other and our<br> system will begin showing
          the correct ad more<br> frequently that is getting the higher conversions <br>automatically.
        </mat-card-subtitle>
      </span>
      <span class="items">
        <span class="image_wrap">
          <img src="/assets/images/platformIcon11.png">
        </span>
        <mat-card-title class="inner_head"> Automated Alerts </mat-card-title>
        <mat-card-subtitle class="inner_body"> We will let you know when you are running low <br> on your budget so you
          can keep up.
        </mat-card-subtitle>
      </span>
      <span class="items">
        <span class="image_wrap">
          <img src="/assets/images/platformIcon12.png">
        </span>
        <mat-card-title class="inner_head"> Machine Learning Optimization </mat-card-title>
        <mat-card-subtitle class="inner_body"> 
          <!-- Our system has some of the most specialized<br> optimization technology
          allowing your spend<br> over time to become much more targeted. -->
          Target specific types of phones, tablets and other devices (ex IPhones).
        </mat-card-subtitle>
      </span>
      <span class="items">
        <span class="image_wrap">
          <img src="/assets/images/platformIcon13.png">
        </span>
        <mat-card-title class="inner_head"> Target by device </mat-card-title>
        <mat-card-subtitle class="inner_body"> Target specific types of phones, tablets and other devices (ex IPhones).
          <!-- You can run Ads against each other and our<br> system will begin showing
          the correct ad more <br>frequently that is getting the higher conversions<br> automatically. -->

        </mat-card-subtitle>
      </span>

      <span class="items">
        <span class="image_wrap">
          <img src="/assets/images/platformIcon14.png">
        </span>
        <mat-card-title class="inner_head"> Target by operating system </mat-card-title>
        <mat-card-subtitle class="inner_body">We will let you know when you are running low<br> on your budget so you
          can keep up.

        </mat-card-subtitle>
      </span>

      <span class="items">
        <span class="image_wrap">
          <img src="/assets/images/platformIcon15.png">
        </span>
        <mat-card-title class="inner_head">Target by browser type</mat-card-title>
        <mat-card-subtitle class="inner_body"> 
          <!-- Our system has some of the most specialized<br> optimization technology
          allowing your spend<br> over time to become much more targeted.  -->
          Popular browsers like Chrome, Edge and Firefox can be directly targeted for specific browser based marketing. 
        </mat-card-subtitle>
      </span>


      <span class="items">
        <span class="image_wrap">
          <img src="/assets/images/platformIcon16.png">
        </span>
        <mat-card-title class="inner_head">Target by geography</mat-card-title>
        <mat-card-subtitle class="inner_body"> Target by geography as tight as a five-mile<br> radius, by DMA, state, or
          country.
        </mat-card-subtitle>
      </span>
      <span class="items">
        <span class="image_wrap">
          <img src="/assets/images/platformIcon17.png">
        </span>
        <mat-card-title class="inner_head">Micro target by exact address</mat-card-title>
        <mat-card-subtitle class="inner_body">Unlike any other platform out there we can<br> micro target by exact
          address drawing the fence <br> around the building line of the home!
        </mat-card-subtitle>
      </span>
      <span class="items">
        <span class="image_wrap">
          <img src="/assets/images/platformIcon18.png">
        </span>
        <mat-card-title class="inner_head">International Capability</mat-card-title>
        <mat-card-subtitle class="inner_body">Our system is set in different languages <br> including Japanese and our
          inventory can be <br>accessed in several counties world wide.
        </mat-card-subtitle>
      </span>
    </mat-card-content>
  </mat-card-content>
</mat-card>

<mat-card class="homeblock6">
  <mat-card-content class="container">
    <mat-card-title class="textwrapper">
      <h1>Industries and Marketing Segments</h1>
    </mat-card-title>
    <mat-list class="listwrapper">
      <mat-list-item class="col-8">
        <span class="imgwrapper"><img src="../../assets/images/homeicon01.png"></span>
        <span class="listtextwrapper">
          Real Estate
        </span>
      </mat-list-item>
      <mat-list-item class="col-8">
        <span class="imgwrapper"><img src="../../assets/images/homeicon02.png"></span>
        <span class="listtextwrapper">
          Homeowner Data Mining
        </span>
      </mat-list-item>
      <mat-list-item class="col-8">
        <span class="imgwrapper"><img src="../../assets/images/homeicon03.png"></span>
        <span class="listtextwrapper">
          Homeowner Geo Targeting
        </span>
      </mat-list-item>
      <mat-list-item class="col-8">
        <span class="imgwrapper"><img src="../../assets/images/homeicon04.png"></span>
        <span class="listtextwrapper">
          Automotive Sales
        </span>
      </mat-list-item>
      <mat-list-item class="col-8">
        <span class="imgwrapper"><img src="../../assets/images/homeicon05.png"></span>
        <span class="listtextwrapper">
          New Car Buyer Geo-Fence Targeting
        </span>
      </mat-list-item>
      <mat-list-item class="col-8">
        <span class="imgwrapper"><img src="../../assets/images/homeicon06.png"></span>
        <span class="listtextwrapper">
          Professional Sports
        </span>
      </mat-list-item>
      <mat-list-item class="col-8">
        <span class="imgwrapper"><img src="../../assets/images/homeicon07.png"></span>
        <span class="listtextwrapper">
          Mobile Ad Marketing
        </span>
      </mat-list-item>
      <mat-list-item class="col-8">
        <span class="imgwrapper"><img src="../../assets/images/homeicon08.png"></span>
        <span class="listtextwrapper">
          Geo Event Targeting
        </span>
      </mat-list-item>

      <mat-list-item class="col-8">
        <span class="imgwrapper"><img src="../../assets/images/homeicon09.png"></span>
        <span class="listtextwrapper">
          Massive Online Community Development

        </span>
      </mat-list-item>
      <mat-list-item class="col-8">
        <span class="imgwrapper"><img src="../../assets/images/homeicon010.png"></span>
        <span class="listtextwrapper">
          Geo Location Technologie
        </span>
      </mat-list-item>
      <mat-list-item class="col-8">
        <span class="imgwrapper"><img src="../../assets/images/homeicon011.png"></span>
        <span class="listtextwrapper">
          Entertainment Industry

        </span>
      </mat-list-item>
      <mat-list-item class="col-8">
        <span class="imgwrapper"><img src="../../assets/images/homeicon012.png"></span>
        <span class="listtextwrapper">
          Competition Location GEO Fencing
        </span>
      </mat-list-item>
      <mat-list-item class="col-8">
        <span class="imgwrapper"><img src="../../assets/images/homeicon013.png"></span>
        <span class="listtextwrapper">
          Direct Mail Digital Conversions
        </span>
      </mat-list-item>
      <mat-list-item class="col-8">
        <span class="imgwrapper"><img src="../../assets/images/homeicon014.png"></span>
        <span class="listtextwrapper">
          Lead Generation all Industries
        </span>
      </mat-list-item>
      <mat-list-item class="col-8">
        <span class="imgwrapper"><img src="../../assets/images/homeicon015.png"></span>
        <span class="listtextwrapper">
          Local Market Targeting
        </span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card class="homeblock7">
  <mat-card-content class="container">
    <mat-card-title class="textwrapper">
      <h1> Get A Free Demo now </h1>
      <p>Stop using backbox data that you cant verify. By using Location based targeting you can be assured that you
        are<br> targeting who you want when you want instead of trusting data you can't verify. </p>
      <a routerLink="/contactus"> <button mat-button class="blackbtn"> Get Started </button></a>
    </mat-card-title>
  </mat-card-content>
</mat-card>

<app-footer></app-footer>