.main_header{ max-width:100%; width: 700px; margin: 0px auto; background: #e8e8e8; min-height: 290px; text-align: center;  border: 2px solid #45c0ff; display: flex; flex-direction: column;
  justify-content: center;  box-shadow: none!important;}
.main_header .mat-card-title{ font-size: 30px; font-family: "LatoBold"; text-transform: uppercase;color: #24a5e1;     margin: 24px 0;}
.main_header img{ max-width: 100%; }

 .close  {
  width: 35px;
  height: 35px;
  background: #303639;
  padding: 0!important;
  border-radius: 50%;
  min-width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999;
  color: #fff;
}

.image_wrapper{ display: block;}
.image_wrapper img{ display: block; max-width: 100%; }


@media screen and (max-width: 991px){
  .main_header{ max-width:100%; width: inherit;}
}
/* modal css */
.mat-card{ border-radius: 0px!important; box-shadow: none!important; }


.block1{ background: url("/assets/images/PFFblok1bg.jpg") no-repeat center; background-size: cover;  padding: 30px;}
.block1 .inner_wrapper1{  width:1200px; margin: 0 auto; }
.block1 .inner_wrapper1 .title1{  color: #fff; font-family: "MontserratBold"; font-size: 40px; text-transform: uppercase; text-align: center; }
.block1 .inner_wrapper1 .subtitle1{  color: #fff; font-family: "MontserratRegular"; font-size: 30px; line-height: 32px; text-align: center; margin: 15px 0 5px; }

.block2{ background:url("/assets/images/PFFblok2bg.jpg") no-repeat center center; background-size: cover; padding:45px;}
.block2 .inner_wrapper2{ width: 1420px; margin: 0 auto; }
.block2 .inner_wrapper2 .title2{  font-size: 36px; text-align: center; font-family: "MontserratBold"; color: #373737; text-transform: uppercase; margin: 10px 0 20px 0;}
.block2 .inner_wrapper2 .content_wrapper{ display: flex; justify-content: center; flex-wrap: wrap; }
.block2 .inner_wrapper2 .content_wrapper .items {  display: flex; background: #e8ecee; flex-direction: column;  border: 1px solid #c6cfd4;
  width: 31%;  margin: 1%; padding: 20px; box-sizing: border-box; text-align: center; min-height: 310px;}

  .block2 .inner_wrapper2 .content_wrapper .items .image_wrap { height: 100px; display: flex; align-items: center; width: 100%; justify-content: center; }
.block2 .inner_wrapper2 .content_wrapper .items .image_wrap{  min-height: 80px;}
.block2 .inner_wrapper2 .content_wrapper .items .inner_head{  font-family: "LatoBold"; font-size:24px; color:#373737; margin: 10px 0; }
.block2 .inner_wrapper2 .content_wrapper .items .inner_body{ margin: 0; color: #373737; font-size: 18px; font-family: "LatoMedium"; line-height: 26px;  }

.container{width: 1485px; margin: 0 auto; display: block;}
.textwrapper h1{font-size: 36px; font-family: 'MontserratBold'; color: #393c3f; text-transform: uppercase; margin-top: 0;}
.textwrapper h1 span{font-size: 30px; font-family: 'MontserratMedium'; color: #82878b; display: block;font-weight: normal; padding: 0px; }
.textwrapper h1 strong{font-family: 'LatoBlack'; color: #121514; display: block;}
.textwrapper p{font-family: 'LatoRegular'; color: #82878b; font-size: 20px;line-height: 30px;}
.textwrapper h2{font-size: 30px; font-family: 'MontserratBold'; color: #ffffff; text-align: center;}

.topbannerblock .textwrapper h1{width: 726px; margin: 0 auto;font-size: 40px; color: #ffffff;text-align: center;}
.topbannerblock .textwrapper h2{padding: 0 142px;}

.listwrapper{display: flex; width: 100%; justify-content: space-between;}
.homeblock2{background-image:url("../../assets/images/homeimg3.png"); background-repeat: no-repeat; background-size: 100% 55%; position: relative; padding-top: 65px;padding-left: 0; padding-right: 0; background-position: center bottom;padding-bottom: 45px;}

.col-2{width: 50% !important;height: auto !important;}
.col-5{width: 20% !important;height: auto !important;}
.col-8{width: 12.5% !important;height: auto !important;}
.col-2 img{max-width: 100%;}
.homeblock2 .listwrapper .textwrapper p{border-left: 6px solid #00bfff; padding-left: 20px;}
.imgwrapper{height: 110px; width: 110px; border-radius: 50%; background-color: #ffffff;position: relative; display: flex; align-items: center; justify-content: center;margin-bottom: 25px;}
.imgwrapper img{max-width: 100%;}
.listtextwrapper{color: #5c5e5f; font-family: 'LatoBold'; font-size: 18px;width: 100%; text-align: center;}
.listtextwrapper b{font-weight: normal; font-size: 14px; display: block;}

.homeblock6 .listwrapper .imgwrapper{background-color: #051532; border: 7px solid #3c4143; box-shadow: 0 0 10px #000;}

.homeblock6{background-image:url("../../assets/images/homepagebanner5.png"); background-repeat: no-repeat; background-size: cover; position: relative; padding-top: 75px; padding-left: 0; padding-right: 0; background-position: center top; padding-bottom: 50px; }
.homeblock6 .textwrapper h1{color: #fff; text-align: center; margin-bottom: 65px;}
.homeblock6 .listtextwrapper{color: #fff;font-size: 15px; }
.homeblock6 .listwrapper {justify-content: center;flex-wrap: wrap;}
.homeblock6 .col-8{margin-bottom: 35px;width: 185px !important;}

.blackbtn{background-color: #33333a; color: #ffffff; border-radius: 0px; font-size: 20px; font-family: 'LatoRegular'; padding: 4px 50px 6px; border: 0; border-radius: 2px; }


.homeblock7{background-image:url("../../assets/images/homepagebanner6.png"); background-repeat: no-repeat; background-size: cover; position: relative; padding-left: 0; padding-right: 0; background-position: center top; min-height: 270px; display: flex !important; align-items: center;}

.homeblock7 .blackbtn{margin-top: 20px;}
.homeblock7 .textwrapper{text-align: center;}
.homeblock7 .textwrapper p{padding: 0 230px; color: #454c4f;}

@media screen and (max-width: 1700px){
  .block2 .inner_wrapper2 .content_wrapper .items .inner_body br{ display: none;}
}
@media screen and (max-width: 1500px){
  .block2 .inner_wrapper2{ width: 95%; }
  .block2 .inner_wrapper2 .title2 br{ display: none; }
}
@media screen and (max-width: 1280px){
  .block1 .inner_wrapper1{  width:100%; }
}

@media screen and (max-width: 1199px){
  .block2 .inner_wrapper2 { width: 100%; }
}
@media screen and (max-width: 992px){
  .block2 .inner_wrapper2 .content_wrapper .items { width: 45%; }
  .block2 { padding: 20px; }
  .block2 .inner_wrapper2 .title2 { font-size: 28px; }
}
@media screen and (max-width: 700px){
  .block2 .inner_wrapper2 .content_wrapper .items { width: 46%; margin: 2%; }
}
@media screen and (max-width: 668px){
  .block2 .inner_wrapper2 .content_wrapper .items { width: 75%; margin: 2%; min-height: inherit; }
}
@media screen and (max-width: 500px){
  .block1 { padding: 20px; }
  .block1 .inner_wrapper1 .title1 { font-size: 34px; }
  .block1 .inner_wrapper1 .subtitle1 { font-size: 26px; line-height: 30px; word-break: break-word; white-space: normal;}
}
@media screen and (max-width: 480px){
  .block2 .inner_wrapper2 .content_wrapper .items { width: 100%; margin: 0; margin-bottom: 20px; }
}
@media screen and (max-width: 360px){
.block1 .inner_wrapper1 .title1 { font-size: 24px; }
.block1 .inner_wrapper1 .subtitle1 { font-size: 22px; line-height: 26px; }

}

/* home media */
@media only screen and (max-width: 1640px) {
  .homeblock4 {background-position: right -181px top;}
}
@media only screen and (max-width: 1540px) {
  .homeblock5 .textwrapper p {padding: 0 251px;}
  .homeblock2{background-size: 100% 52%;}
  .textwrapper h1 {font-size: 30px;}
}

@media only screen and (max-width: 1520px) {
  .container{width: 94%;}
  .homeblock6 .col-8 {width: 220px !important;}
}

@media only screen and (max-width: 1440px) {
  .homeblock5 .textwrapper p {
      padding: 0 121px;
  }
}
@media only screen and (max-width: 1400px) {
  .homeblock3 .textwrapper p {padding: 0 300px;}
}
@media only screen and (max-width: 1340px) {
  .homeblock2 {background-size: 100% 48%;padding-top: 45px;}
}
@media only screen and (max-width: 1300px) {
  .homeblock7 .textwrapper p {padding: 0 149px;}
  .textwrapper p {font-size: 18px; line-height: 28px;}
  .homeblock2 {background-size: 100% 51%;}
}
@media only screen and (max-width: 1280px) {
  .homeblock4 {background-position: right -314px top;}
  .homeblock3 .textwrapper p {
      padding: 0 265px;
  }
}
@media only screen and (max-width: 1260px) {
  .homeblock2 {background-size: 100% 53%;}
}
@media only screen and (max-width: 1240px) {
  .homeblock2 {background-size: 131% 52%;}
  .listtextwrapper {font-size: 16px;}
}


@media only screen and (max-width: 1199px) {
  .homeblock7 .textwrapper p {padding: 0 64px;}
  .homeblock6 {padding-top: 45px;padding-bottom: 20px;}
  .homeblock6 .textwrapper h1 {margin-bottom: 45px;}
  .col-2 {width: 100% !important;}
  .listwrapper {flex-wrap: wrap; justify-content: center;}
  .homeblock2 {background-size: 347% 41%; padding-top: 0;}
  .textwrapper h1 {text-align: center;}
  .homeblock2 .listwrapper .textwrapper p {border-left: 0px solid #00bfff;padding-left: 0px; text-align: center;padding-bottom: 60px;}
}
@media only screen and (max-width: 991px) {
  .homeblock6 {background-image: linear-gradient(#03071b, #0c2842);}
  .homeblock7 .textwrapper p {padding: 0;}
  .homeblock5 .textwrapper p {padding: 0;}
  .col-5 {width: 33% !important;  margin-bottom: 20px;}
  .homeblock2 {background-size: 562% 54%;}
  .topbannerblock .textwrapper h2 {padding: 0 41px;}
  .bannerimgwrapper {position: relative;left: 0;transform: inherit; text-align: center;}
  .bannerimgwrapper img{max-width: 100%;}
  .topbannerblock {padding-bottom: 0px;padding-top: 42px;}
}

@media only screen and (max-width: 767px){
  .homeblock5:after{position: absolute; left: 0; top: 0; content: ''; height: 100%; width: 100%; background-image: linear-gradient(#ffffff99, #ffffff99, transparent);}
  .homeblock5 .textwrapper{position: relative; z-index: 9;}
  .homeblock2 {background-size: 767% 63%;}
  .col-5 {width: 50% !important;}
  .topbannerblock .textwrapper h1 {width: 100%;}
  .topbannerblock .textwrapper h2 {padding: 0 0;}
}

@media only screen and (max-width: 560px){
  .col-5 {width: 100% !important;}
  .homeblock2 {background-size: 767% 77%;}
}
@media only screen and (max-width: 480px){
  .homeblock5:after {background-image: linear-gradient(#ffffff00, #ffffff, #00000038);}
  .homeblock5 {min-height: inherit; padding-bottom: 363px;}
}
@media only screen and (max-width: 360px){
.block2 .inner_wrapper2 .title2 { font-size: 22px; }
}
