<app-header></app-header>

<mat-card class="contact_banner">

  <mat-card class="contact_banner_wrapper">

    <mat-card-content class="contactbanner_text">
      <mat-card-content class="contactbanner_text_wrapper">
        <h2>GET IN TOUCH</h2>
        <h3>Want to find out how GEOFenceDSP can take care of all your mobile ad needs? Let’s talk.
        </h3>

      </mat-card-content>

    </mat-card-content>

    <mat-card-content class="contactbanner_form">

      <mat-card-content class="contactbanner_form_wrapper">
          <mat-error *ngIf="error == true">All Fields are Required</mat-error>
          <form [formGroup]="contactForm" (submit)="doSubmit()">
          <mat-label>Name</mat-label>
          <mat-form-field>
            <input matInput  [formControl]="contactForm.controls['name']"  (blur)="inputUntouch(contactForm, 'name')">
            <mat-error  *ngIf="!contactForm.controls['name'].valid && contactForm.controls['name'].touched">Name is required</mat-error>
          </mat-form-field>

          <mat-label>Email Address</mat-label>
          <mat-form-field>
            <input matInput  [formControl]="contactForm.controls['email']"  (blur)="inputUntouch(contactForm, 'email')">
            <mat-error *ngIf="!contactForm.controls['email'].valid && contactForm.controls['email'].touched">Email is Required</mat-error>
            <!-- <mat-error  *ngIf="!contactForm.controls['email'].valid && !contactForm.controls['email'].errors.required">Valid email</mat-error> -->
          </mat-form-field>

          <mat-label>Phone Number</mat-label>
          <mat-form-field>
            <input matInput type="number"  [formControl]="contactForm.controls['phone']" (blur)="inputUntouch(contactForm, 'phone')">
            <mat-error *ngIf="!contactForm.controls['phone'].valid && contactForm.controls['phone'].touched">PhoneNumber is Required</mat-error>
          </mat-form-field>

          <mat-label>Department</mat-label>
          <mat-form-field>
            <mat-select  [formControl]="contactForm.controls['depertment']"  (blur)="inputUntouch(contactForm, 'depertment')">
              <mat-option value=""> -- Choose --</mat-option>
              <mat-option value="Sales">Sales</mat-option>
              <mat-option value="Support">Support</mat-option>
              <mat-option value="Accounting">Accounting</mat-option>
            </mat-select>
            <mat-error *ngIf="!contactForm.controls['depertment'].valid && contactForm.controls['depertment'].touched"> Select Depertment </mat-error>
          </mat-form-field>

          <mat-label>Message</mat-label>
          <mat-form-field>
            <textarea matInput [formControl]="contactForm.controls['message']"  (blur)="inputUntouch(contactForm, 'message')"></textarea>
            <mat-error *ngIf="!contactForm.controls['message'].valid && contactForm.controls['message'].touched">Message is Required</mat-error>
          </mat-form-field>


          <button mat-button class="submit_button" >send</button>

        </form>


      </mat-card-content>
    </mat-card-content>
    <img class="responsive_image" src="/assets/images/contact_banner_img1.png">
    <mat-card class="clear"></mat-card>

  </mat-card>

</mat-card>

<mat-card class="contact_block1">

  <mat-card-subtitle class="contact_block1_wrapper">
    <h2>GEO AI Technologies<br />
      GeoFenceDSP</h2>
    <h3>180 N Broadway, Blackfoot ID 83221</h3>

    <ul>
      <li>
        <img src="../../assets/images/contact_icon_1.png" alt="#">

        <span>​SALES</span>
        <p> 866-463-0890<br />
          <a href="mailto:sales@geofencedsp.com" target="_top">sales@geofencedsp.com</a>
        </p>

      </li>

      <li>
        <img src="../../assets/images/contact_icon_2.png" alt="#">

        <span>SUPPORT</span>
        <p>
          855-906-4476<br />
          <a href="mailto:support@geofencedsp.com" target="_top">support@geofencedsp.com</a>
        </p>

      </li>

      <li>
        <img src="../../assets/images/contact_icon_3.png" alt="#">

        <span>ACCOUNTING</span>
        <p>
          866-405-3001<br />
          <a href="mailto:accounting@geofencedsp.com" target="_top">accounting@geofencedsp.com</a>
        </p>

      </li>

    </ul>


  </mat-card-subtitle>


</mat-card>

<mat-card class="contact_block2">

  <mat-card-subtitle class="contact_block2_wrapper">

    <ul>
      <li>
        <img src="../../assets/images/contact_img1.png" alt="#">


        <p>
          <a routerLink="/platform-features" > <span>Platform Features</span></a>
        </p>

      </li>

      <li>
        <img src="../../assets/images/contact_img2.png" alt="#">


        <p>
          <a routerLink="/commercialGEO"> <span>Commercial GEO</span></a>
        </p>

      </li>


      <li>
        <img src="../../assets/images/contact_img3.png" alt="#">


        <p>
          <a routerLink="/getstarted"><span>Get Started</span></a>
        </p>

      </li>



    </ul>

  </mat-card-subtitle>

</mat-card>



<app-footer></app-footer>
