<app-header></app-header>
<mat-card class="topbannerblock">
    <mat-card-content class="container">
        <mat-card-title class="textwrapper">
            <h1>Digital Marketing Agencies! We want to partner with you!</h1>
            <h2>Residential and Business level geo-fencing in the mobile display marketplace. This is the most powerful, efficient, and accurate way to advertise to your customers! We define the new micro-targeting market trend.</h2>
        </mat-card-title>
        <mat-card-title class="bannerimgwrapper">
            <img src="../../assets/images/homeimg1.png">
        </mat-card-title>
    </mat-card-content>
</mat-card>
<!--<img src="../../assets/images/home_demo1.jpg" alt="#" style="width: 100%;">-->

<mat-card class="homeblock2">
    <mat-card-content class="container">
        <mat-list class="listwrapper">
            <mat-list-item class="col-2">
                <img src="../../assets/images/homeimg2.png">
            </mat-list-item>
            <mat-list-item class="col-2">
                <mat-card-title class="textwrapper">
                    <h1>Geofencedsp Is The Demand Side Platform That Gives You
                        <span>Unprecedented Accuracy And Control</span>
                        <strong>OVER YOUR DISPLAY ADVERTISING!</strong>
                    </h1>
                        <p>GEOFenceDSP’s demand-side platform gives agencies like yours the ability to manage ad and data exchanges across multiple accounts through a single interface. Our microtargeting technology gives you the ability to pinpoint potential customers with unprecedented accuracy. Our platform puts a powerful set of tools into your hands in one single application, including:</p>

                </mat-card-title>
            </mat-list-item>
        </mat-list>

        <mat-list class="listwrapper">
            <mat-list-item class="col-5">
                <span class="imgwrapper"><img src="../../assets/images/homeicon1.png"></span>
                <span class="listtextwrapper">
                    Demand-side agency services
                </span>
            </mat-list-item>
            <mat-list-item class="col-5">
                <span class="imgwrapper"><img src="../../assets/images/homeicon2.png"></span>
                <span class="listtextwrapper">
                    Real-time bidding for ad placement (RTB)
                </span>
            </mat-list-item>
            <mat-list-item class="col-5">
                <span class="imgwrapper"><img src="../../assets/images/homeicon3.png"></span>
                <span class="listtextwrapper">
                    Mobile Marketing systems publisher management
                    <b>(connected to over 60,000 apps.)</b>
                </span>
            </mat-list-item>
            <mat-list-item class="col-5">
                <span class="imgwrapper"><img src="../../assets/images/homeicon4.png"></span>
                <span class="listtextwrapper">GEOFencing for Commercial</span>
            </mat-list-item>
            <mat-list-item class="col-5">
                <span class="imgwrapper"><img src="../../assets/images/homeicon5.png"></span>
                <span class="listtextwrapper">GEOFencing for Residential</span>
            </mat-list-item>
        </mat-list>

    </mat-card-content>
</mat-card>

<!--<img src="../../assets/images/home_demo2.jpg" alt="#" style="width: 100%;  margin-top: -4px;">-->
<img src="../../assets/images/home_demo3.jpg" alt="#" style="width: 100%;  margin-top: -4px;">
<img src="../../assets/images/home_demo4.jpg" alt="#" style="width: 100%;  margin-top: -4px;">
<img src="../../assets/images/home_demo5.jpg" alt="#" style="width: 100%;  margin-top: -4px;">
<img src="../../assets/images/home_demo6.jpg" alt="#" style="width: 100%;  margin-top: -4px;">
<img src="../../assets/images/home_demo7.jpg" alt="#" style="width: 100%;">

<app-footer></app-footer>