<app-header></app-header>
<mat-card class="topbannerblock">
    <mat-card-content class="container">
        <mat-card-title class="textwrapper">
            <h1>GeoFenceDSP IS PARTNERING WITH BIG DATA PROVIDERS AND AGENCIES</h1>
            <h2>By combining your data science with our marketing technology and platform we will supercharge your
                offered programs. We add GEO fencing, digital marketing, retargeting, creative services and campaign
                management.</h2>
        </mat-card-title>
        <mat-card-title class="bannerimgwrapper">
            <img src="../../assets/images/homeimg1.png">
        </mat-card-title>
    </mat-card-content>
</mat-card>
<!--<img src="../../assets/images/home_demo1.jpg" alt="#" style="width: 100%;">-->

<mat-card class="homeblock2">
    <mat-card-content class="container">
        <mat-list class="listwrapper">
            <mat-list-item class="col-2">
                <img class="bimg1" src="../../assets/images/homeimg2.png">
            </mat-list-item>
            <mat-list-item class="col-2">
                <mat-card-title class="textwrapper">
                    <h1>GEOFENCEDSP IS THE DEMAND SIDE PLATFORM THAT GIVES ADVERTISERS
                        <span>UNPRECEDENTED ACCURACY</span>
                        <strong>IN THEIR DISPLAY ADVERTISING!</strong>
                    </h1>



                    <p>GEOFenceDSP’s demand-side platform was developed with a very specific purpose. Microtargeting a
                        very specific BIG DATA audience right in their residential homes. Our microtargeting technology
                        gives you the ability to pinpoint potential customers with unprecedented accuracy. Starting with
                        BIG DATA segmented for specific lifestyle selects at the onset we can market directly to just
                        the homes on the list.<br>
                        Our platform puts a powerful set of tools into your hands in one single application, including:
                    </p>

                </mat-card-title>
            </mat-list-item>
        </mat-list>

        <mat-list class="listwrapper">
            <mat-list-item class="col-5">
                <span class="imgwrapper"><img src="../../assets/images/homeicon1.png"></span>
                <span class="listtextwrapper">
                    Demand-side agency services
                </span>
            </mat-list-item>
            <mat-list-item class="col-5">
                <span class="imgwrapper"><img src="../../assets/images/homeicon2.png"></span>
                <span class="listtextwrapper">
                    Real-time bidding for ad placement (RTB)
                </span>
            </mat-list-item>
            <mat-list-item class="col-5">
                <span class="imgwrapper"><img src="../../assets/images/homeicon3.png"></span>
                <span class="listtextwrapper">
                    Mobile Marketing systems publisher management
                    <b>(connected to over 60,000 apps.)</b>
                </span>
            </mat-list-item>
            <mat-list-item class="col-5">
                <span class="imgwrapper"><img src="../../assets/images/homeicon4.png"></span>
                <span class="listtextwrapper">GEOFencing for Commercial</span>
            </mat-list-item>
            <mat-list-item class="col-5">
                <span class="imgwrapper"><img src="../../assets/images/homeicon5.png"></span>
                <span class="listtextwrapper">GEOFencing for Residential</span>
            </mat-list-item>
        </mat-list>

    </mat-card-content>
</mat-card>
<mat-card class="homeblock3">
    <mat-card-content class="container">
        <mat-card-title class="textwrapper">
            <!-- <h1>Target customers across thousands of popular apps!</h1> -->
            <h1>WE TARGET CUSTOMERS ACROSS THOUSANDS OF POPULAR APPS!</h1>
            <!-- <p>The inventory available to us from our supply partners is the best in the industry. Our mobile marketing
                tech is compatible with over 60,000 apps currently available on I-Tunes and Google Play. Whether your
                customers are playing games like Candy Crush, chatting with friends on apps like Skype or doing some
                bookkeeping in Quickbooks, we can make sure they see your ads.</p> -->
            <p>The inventory available to us from our supply partners is the best in the industry. Our mobile marketing tech is compatible with over 60,000 apps currently available on I-Tunes and Google Play. Whether your customers are playing games like Candy Crush, chatting with friends on apps like Skype or doing some bookkeeping in Quickbooks, we can make sure they see advertiser’s media and ads.</p>
        </mat-card-title>
    </mat-card-content>
</mat-card>

<mat-card class="homeblock4">
    <mat-card-content class="container">
        <mat-card-title class="textwrapper">
            <!-- <h2>Combining Big Data with GEO Fencing Technologies for hyper targeted ad spend.</h2> -->
            <p>Think of this as digital direct mail advertising. We can target your list right in their homes! By combining home address information with your data set with GEO Fencing Technologies we have very tight control on what devices we display on.</p>
        </mat-card-title>
    </mat-card-content>
</mat-card>

<mat-card class="homeblock5">
    <mat-card-content class="container">
        <mat-card-title class="textwrapper">
            <h1>WE HAVE THE <span> EXPERIENCE YOU NEED</span> IN A PARTNER </h1>
            <p>We have been in the digital and online marketing space for over 15 years. We have spent the money as agency directors and owners pushing millions a month for some of our advertisers. There are many layers to a quality ad display and who the actual audience is that receives it. We have been creating ads, funnels and very successful advertising for a very long time.<br><br>Just as an example, our group created and launched the highly successful company Product2Web--one of the earliest advertiser platforms in the direct response industry.  We had over 100 advertisers managing 75,000+ transactions a month before we sold the company.  We have worked with hundreds of campaigns across a very diverse number of industries.
            </p>
            <a routerLink="/contactus"> <button mat-raised-button class="getdemobtn">Get a Demo Now!</button></a>
        </mat-card-title>
    </mat-card-content>
</mat-card>

<mat-card class="homeblock6">
    <mat-card-content class="container">
        <mat-card-title class="textwrapper">
            <h1>Industries and Marketing Segments</h1>
        </mat-card-title>
        <mat-list class="listwrapper">
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon01.png"></span>
                <span class="listtextwrapper">
                    Real Estate
                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon02.png"></span>
                <span class="listtextwrapper">
                    Homeowner Data Mining
                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon03.png"></span>
                <span class="listtextwrapper">
                    Homeowner Geo Targeting
                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon04.png"></span>
                <span class="listtextwrapper">
                    Automotive Sales
                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon05.png"></span>
                <span class="listtextwrapper">
                    New Car Buyer Geo-Fence Targeting
                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon06.png"></span>
                <span class="listtextwrapper">
                    Professional Sports
                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon07.png"></span>
                <span class="listtextwrapper">
                    Mobile Ad Marketing
                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon08.png"></span>
                <span class="listtextwrapper">
                    Geo Event Targeting
                </span>
            </mat-list-item>

            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon09.png"></span>
                <span class="listtextwrapper">
                    Massive Online Community Development

                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon010.png"></span>
                <span class="listtextwrapper">
                    Geo Location Technologie
                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon011.png"></span>
                <span class="listtextwrapper">
                    Entertainment Industry

                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon012.png"></span>
                <span class="listtextwrapper">
                    Competition Location GEO Fencing
                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon013.png"></span>
                <span class="listtextwrapper">
                    Direct Mail Digital Conversions
                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon014.png"></span>
                <span class="listtextwrapper">
                    Lead Generation all Industries
                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon015.png"></span>
                <span class="listtextwrapper">
                    Local Market Targeting
                </span>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card class="homeblock7">
    <mat-card-content class="container">
        <mat-card-title class="textwrapper">
            <h1>WE WANT TO SHOW THIS TO YOU</h1>
            <p>We want to demonstrate the power of our platform in real time for your team.  We would love to schedule a demo to show you the power of becoming a BIG DATA Partner with GEOFenceDSP.</p>
            <a routerLink="/contactus"> <button mat-button class="blackbtn"> Get A Free Demo Now! </button></a>
        </mat-card-title>
    </mat-card-content>
</mat-card>
<app-footer></app-footer>