<app-header></app-header>
<mat-card class="topbannerblock">
    <mat-card-content class="container">
        <mat-card-title class="textwrapper">
            <h1>Digital Marketing Agencies! We want to partner with you!</h1>
            <h2>Residential and Business level geo-fencing in the mobile display marketplace. This is the most powerful, efficient, and accurate way to advertise to your customers! We define the new micro-targeting market trend.</h2>
        </mat-card-title>
        <mat-card-title class="bannerimgwrapper">
            <img src="../../assets/images/homeimg1.png">
        </mat-card-title>
    </mat-card-content>
</mat-card>
<!--<img src="../../assets/images/home_demo1.jpg" alt="#" style="width: 100%;">-->

<mat-card class="homeblock2">
    <mat-card-content class="container">
        <mat-list class="listwrapper">
            <mat-list-item class="col-2">
                <img class="bimg1" src="../../assets/images/homeimg2.png">
            </mat-list-item>
            <mat-list-item class="col-2">
                <mat-card-title class="textwrapper">
                    <h1>Geofencedsp Is The Demand Side Platform That Gives You
                        <span>Unprecedented Accuracy And Control</span>
                        <strong>OVER YOUR DISPLAY ADVERTISING!</strong>
                    </h1>
                        <p>GEOFenceDSP’s demand-side platform gives agencies like yours the ability to manage ad and data exchanges across multiple accounts through a single interface. Our microtargeting technology gives you the ability to pinpoint potential customers with unprecedented accuracy. Our platform puts a powerful set of tools into your hands in one single application, including:</p>

                </mat-card-title>
            </mat-list-item>
        </mat-list>

        <mat-list class="listwrapper">
            <mat-list-item class="col-5">
                <span class="imgwrapper"><img src="../../assets/images/homeicon1.png"></span>
                <span class="listtextwrapper">
                    Demand-side agency services
                </span>
            </mat-list-item>
            <mat-list-item class="col-5">
                <span class="imgwrapper"><img src="../../assets/images/homeicon2.png"></span>
                <span class="listtextwrapper">
                    Real-time bidding for ad placement (RTB)
                </span>
            </mat-list-item>
            <mat-list-item class="col-5">
                <span class="imgwrapper"><img src="../../assets/images/homeicon3.png"></span>
                <span class="listtextwrapper">
                    Mobile Marketing systems publisher management
                    <b>(connected to over 60,000 apps.)</b>
                </span>
            </mat-list-item>
            <mat-list-item class="col-5">
                <span class="imgwrapper"><img src="../../assets/images/homeicon4.png"></span>
                <span class="listtextwrapper">GEOFencing for Commercial</span>
            </mat-list-item>
            <mat-list-item class="col-5">
                <span class="imgwrapper"><img src="../../assets/images/homeicon5.png"></span>
                <span class="listtextwrapper">GEOFencing for Residential</span>
            </mat-list-item>
        </mat-list>

    </mat-card-content>
</mat-card>
<mat-card class="homeblock3">
    <mat-card-content class="container">
        <mat-card-title class="textwrapper">
            <h1>Target customers across thousands of popular apps!</h1>
            <p>The inventory available to us from our supply partners is the best in the industry.  Our mobile marketing tech is compatible with over 60,000 apps currently available on I-Tunes and  Google Play. Whether your customers are playing games like Candy Crush, chatting with friends on apps like Skype or doing some bookkeeping in Quickbooks, we can make sure they see your ads.</p>
        </mat-card-title>
    </mat-card-content>
</mat-card>

<mat-card class="homeblock4">
    <mat-card-content class="container">
        <mat-card-title class="textwrapper">
            <h2>Combining Big Data with GEO Fencing Technologies for hyper targeted ad spend.</h2>
            <p>Think of this as digital direct mail advertising.
                We can target your list right in their homes!</p>
        </mat-card-title>
    </mat-card-content>
</mat-card>

<mat-card class="homeblock5">
    <mat-card-content class="container">
        <mat-card-title class="textwrapper">
            <h1>big data is a big deal</h1>
            <p>We have been in the digital and online marketing space for over 15 years. We have spent the money as agency directors and owners pushing millions a month for some of our advertisers.  There are many layers to a quality ad display and who the actual audience is that receives it.  One of the most incredible things we have to offer you is the ability to monetize a list of addresses.
<br><br>
                Any Big Data source that you are targeting can be added in as an audience into our system and we are able to fence line residential homes by the thousands and even millions.  Any campaign that you are running where you have the home address can now be combined with digital mobile marketing campaigns! This is a powerful way to service your customer base.
            </p>
        </mat-card-title>
    </mat-card-content>
</mat-card>

<mat-card class="homeblock6">
    <mat-card-content class="container">
        <mat-card-title class="textwrapper">
            <h1>Industries and Marketing Segments</h1>
        </mat-card-title>
        <mat-list class="listwrapper">
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon01.png"></span>
                <span class="listtextwrapper">
                    Real Estate
                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon02.png"></span>
                <span class="listtextwrapper">
                    Homeowner Data Mining
                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon03.png"></span>
                <span class="listtextwrapper">
                    Homeowner Geo Targeting
                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon04.png"></span>
                <span class="listtextwrapper">
                    Automotive Sales
                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon05.png"></span>
                <span class="listtextwrapper">
                    New Car Buyer Geo-Fence Targeting
                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon06.png"></span>
                <span class="listtextwrapper">
                   Professional Sports
                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon07.png"></span>
                <span class="listtextwrapper">
                    Mobile Ad Marketing
                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon08.png"></span>
                <span class="listtextwrapper">
                    Geo Event Targeting
                </span>
            </mat-list-item>

            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon09.png"></span>
                <span class="listtextwrapper">
                    Massive Online Community Development

                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon010.png"></span>
                <span class="listtextwrapper">
                    Geo Location Technologie
                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon011.png"></span>
                <span class="listtextwrapper">
                    Entertainment Industry

                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon012.png"></span>
                <span class="listtextwrapper">
                    Competition Location GEO Fencing
                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon013.png"></span>
                <span class="listtextwrapper">
                    Direct Mail Digital Conversions
                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon014.png"></span>
                <span class="listtextwrapper">
                    Lead Generation all Industries
                </span>
            </mat-list-item>
            <mat-list-item class="col-8">
                <span class="imgwrapper"><img src="../../assets/images/homeicon015.png"></span>
                <span class="listtextwrapper">
                    Local Market Targeting
                </span>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card class="homeblock7">
    <mat-card-content class="container">
        <mat-card-title class="textwrapper">
            <h1>CHANGE THE WAY YOU TARGET</h1>
            <p>Stop using backbox data that you cant verify. By using Location based targeting you can be assured that you are targeting who you want when you want instead of trusting data you can't verify.</p>
            <button class="blackbtn">Get A Free Demo Now! </button>
        </mat-card-title>
    </mat-card-content>
</mat-card>

<!--<img src="../../assets/images/home_demo2.jpg" alt="#" style="width: 100%;  margin-top: -4px;">-->
<!--<img src="../../assets/images/home_demo3.jpg" alt="#" style="width: 100%;  margin-top: -4px;">-->
<!--<img src="../../assets/images/home_demo4.jpg" alt="#" style="width: 100%;  margin-top: -4px;">-->
<!--<img src="../../assets/images/home_demo5.jpg" alt="#" style="width: 100%;  margin-top: -4px;">-->
<!--<img src="../../assets/images/home_demo6.jpg" alt="#" style="width: 100%;  margin-top: -4px;">-->
<!--<img src="../../assets/images/home_demo7.jpg" alt="#" style="width: 100%;">-->

<app-footer></app-footer>