<app-header></app-header>

<mat-card class="block1">
  <mat-card-content class="inner_content">
    <mat-card-title class="title_1">big data</mat-card-title>
    <mat-card-subtitle class="subtitle_1">The Key to precision-targeting customers and maximizing<br>
      your Mobile Marketing dollars!
    </mat-card-subtitle>
    <p>Everyone knows the Big Data and Micro-Targeted segmentation of customer profiles and behavior are the new waves
      emerging in display ad technology. The variety of big data segmentation is vast. Big Data is applicable in
      everything from collecting data about car buyers to targeting executives in their homes to garnering information
      about age and potential qualifications for different products and services.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="block1 block2">
  <mat-card-content class="inner_content">
    <mat-card-title class="title_1">How Big Data works</mat-card-title>
    <p>There are almost countless ways for companies to harvest Big Data. Information can be gathered from online forms
      and surveys, social media sites, and many other sources. The companies then segment this data according to
      different criteria and store it.
    </p>

    <mat-card-content class="bottom_contentt">
      <p class="bott">Depending on how the data was gathered, collectors and aggregators can glean very specific
        information from the data they take in. Those insights can then be used to target very specific populations of
        customers, sending them targeted display ads that pop up in apps they are using on their phones.
      </p>
    </mat-card-content>

  </mat-card-content>
</mat-card>
<mat-card class="block3">
  <mat-card-content class="inner_wrapper">
    <mat-card-title class="blk3_header"> A Practical Example </mat-card-title>
    <mat-card-subtitle class="blk3_subheader"> World2World Media is one of the largest Big Data companies in the automotive industry. They segment their data into <br>criteria such as the last car purchase, if it is paid off, how often the buyer buys vehicles, if they have good credit and what<br> the car buying habits in their household are. This is extremely valuable data for a car dealership. </mat-card-subtitle>

    <mat-card-content class="card_innercontent">
      <p><span>In World2World’s offered service model to dealerships, they set a <br>specific mile radius around the dealership (say 100 miles).</span>  This usually reveals <br>between 50 to 200 thousand criteria-matched car owners in their data set, They then email<br> market to them through their programs.
      </p>
      <img src="assets/images/bigdatablock3_image2.jpg">
    </mat-card-content>
    <mat-card-content class="card_innercontent2">
      <p>World2World is currently the premier emailing service partner to Chrysler and have relationships with the co-op marketing budget managers of over 5,000 dealerships.  Our system will now allow them to offer clients like Chrysler the opportunity to utilize the previously-mentioned list of car buyers. Since they already know way more about those car buyers’ habits than any other display company, including Facebook, they now have a big advantage over their competition!
      <br><br>
      No one has had an opportunity to use their Big Data like this because, until now, a way to fence to the exact residential lines through GEOlocation didn’t exist. This relationship will now allow World2World to maximize their dealerships ad marketing budgets, as well as the emailing budgets, more than doubling their opportunity to make money from the customer base they have already!
      </p>

    </mat-card-content>

  </mat-card-content>
</mat-card>
<mat-card class="block4">
  <mat-card-content class="inner_content">
    <mat-card-title class="blk4header">GEOFenceDSP helps you make the most of Big Data! </mat-card-title>
    <mat-card-subtitle class="blk4subheader">GEOFenceDSP is just one among an ocean of options for Big Data-based marketing, but our DSP is a step ahead of the rest. Our industry-leading team of experts has developed a way to combine our <a href="javacript:void(link)">GEOfencing technology</a>, which can fence a home or business right down to its exact property lines, with Big Data segmentation. Our tech is compatible with over 60,000 apps already available I-Tunes and Google Play, with more to come!

    </mat-card-subtitle>

    <img src="/assets/images/bigDatablk4image.png">

    <mat-card-subtitle class="blk4subheader">This team-up gives us the power to Micro-target only local customers most likely to be successfully converted into sales. If you’re looking to supercharge your display advertising ROI, working with GEOFenceDSP is the way you do it. Contact us today to get started!
    </mat-card-subtitle>
    <a routerLink="/contactus"><button mat-button class="contact_button">Contact Us and get Started</button></a>
  </mat-card-content>
</mat-card>




<app-footer></app-footer>
