<app-header></app-header>
<!--
<mat-card class="block1">
  <mat-card-content class="inner_content">
    <mat-card-title class="title_1">big data</mat-card-title>
    <mat-card-subtitle class="subtitle_1">The Key to precision-targeting customers and maximizing
      your Mobile Marketing dollars!
      </mat-card-subtitle>
      <p >Everyone knows the Big Data and Micro-Targeted segmentation of customer profiles and behavior are the new waves emerging in display ad technology. The variety of big data segmentation is vast.  Big Data is applicable in everything from collecting data about car buyers to targeting executives in their homes to garnering information about age and potential qualifications for different products and services.
      </p>
  </mat-card-content>
</mat-card> -->






<div class="bigdata">
  <img src="/assets/images/bigdatablock1.jpg">
</div>
<div class="bigdata">
  <img src="/assets/images/bigdatablock2.jpg">
</div>
<div class="bigdata">
  <img src="/assets/images/bigdatablock3.jpg">
</div>
<div class="bigdata">
 <a routerLink="/contactus"> <img src="/assets/images/bigdatablock4.jpg"></a>
</div>



<app-footer></app-footer>
