<app-header></app-header>
<mat-card class="block1">
  <mat-card-content class="inner_wrapper1">
    <mat-card-title class="title1">DIGITAL MARKETING SERVICES</mat-card-title>
    <mat-card-subtitle class="subtitle1">
      GeoFenceDSP has helped businesses successfully achieve their sales and marketing goals by developing and 
      implementing custom-tailored digital marketing solutions. Our superior team of marketing experts are here to service you!
    </mat-card-subtitle>
    <mat-card-subtitle class="subtitle1">
      As part of our partnership with your big data agency, we provide the following in-house marketing services: 
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>
<mat-card class="vmblock vmblock1"><img src="../../assets/images/tas_vmbanner1.png"></mat-card>
<mat-card class="vmblock vmblock2"><img src="../../assets/images/tas_vmbanner2.png"></mat-card>
<mat-card class="vmblock vmblock3"><img src="../../assets/images/tas_vmbanner3.png"></mat-card>
<mat-card class="vmblock vmblock4"><img src="../../assets/images/tas_vmbanner4.png"></mat-card>
<mat-card class="vmblock vmblock5"><img src="../../assets/images/tas_vmbanner5.png"></mat-card>

<app-footer></app-footer>
