<app-header></app-header>
<mat-card class="block1">
  <mat-card-content class="inner_wrapper1">
    <mat-card-title class="title1">DIGITAL MARKETING SERVICES</mat-card-title>
    <mat-card-subtitle class="subtitle1">
      GeoFenceDSP has helped businesses successfully achieve their sales and marketing goals by developing and 
      implementing custom-tailored digital marketing solutions. Our superior team of marketing experts are here to service you!
    </mat-card-subtitle>
    <mat-card-subtitle class="subtitle1">
      As part of our partnership with your big data agency, we provide the following in-house marketing services: 
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>
<!-- <mat-card class="vmblock vmblock1"><img src="../../assets/images/tas_vmbanner1.png"></mat-card> -->
<mat-card class="techandservblock1 gencls">
  <mat-card-content class="mainwrapper">
    <mat-card-title class="title">TECHNOLOGY</mat-card-title>
    <div class="flex-row-gen contentblock">
      <div class="main-row-gen">
        <mat-card-title class="title">THE GEOFENCEDSP PLATFORM IS THE MOST POWERFUL <br>MOBILE MARKETING TECHNOLOGY <br>IN THE INDUSTRY.</mat-card-title>
        <mat-card-subtitle class="subtitle">GEOFenceDSP offers an unbeatable combination of new-school,<br>cutting edge microtargeting technology, people who are industry<br> 
          leaders, and opportunities to be on the leading edge of the field and <br>outpace your competition.</mat-card-subtitle>
        <p>GEOFenceDSP’s innovative technology allows you <br>to target any device that crosses our fenceline. <br>Once a device crosses into a fenced off area, you <br>can continue to send display ads to that device <br>regardless of its current location. It's as simple as a <br>potential customer walking past your store.
        </p>
      </div>
      <div class="sideblock-row-gen">
        <span class="techandservblock1wrapper">
          <img src="../../assets/images/techandservblock1img.png">
        </span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="techandservblock2 gencls">
  <mat-card-content class="mainwrapper">     
    <hr>       
    <mat-card-title class="title">HOW OUR TECH WORKS</mat-card-title>
      <div class="flex-row-gen techandservblock2wrapper">
          <span class="main-row-gen contentblock">
              <mat-card-title class="title">How it works</mat-card-title>
              <mat-list>
                  <mat-list-item>It’s as simple as loading desired address list setting a budget and you are now sending ads to your perspective clients.</mat-list-item>
                  <mat-list-item>Our powerful AI system allows to market to clients based upon a combination of big data and where they live.</mat-list-item>
                  <mat-list-item>Once we capture your clients, we can plug them into the exchanges they love most.</mat-list-item>
              </mat-list>                              
          </span>
          <span class="sideblock-row-gen">
               <span class="techandservblock2imgwrapper">
                  <img src="../../assets/images/techandservblock2img.png" class="techandservblock2img">
              </span>   
          </span>
          
      </div> 
  </mat-card-content>
</mat-card>


<mat-card class="techandservblock3 gencls">
  <mat-card-content class="mainwrapper">  
      <hr>           
      <div class="flex-row-gen techandservblock3wrapper">
        <span class="main-row-gen">
          <span class="flex-column-gen">
            <span class="main-gen contentblock">
                <mat-card-title class="title">Why it works</mat-card-title>
                <mat-list>
                    <mat-list-item>We perfectly geo-fence around the property line to ensure that we only capture the homeowners that you desire </mat-list-item>
                    <mat-list-item>Once we capture your clients, we can plug them into the exchanges they love most.</mat-list-item>
                </mat-list>                              
            </span>
            <span class="sideblock-gen">
                <span class="techandservblock3imgwrapper1 bgblueblock">
                    <img src="../../assets/images/techandservblock3img.jpg" class="techandservblock3img">
                </span>   
            </span>
          </span>          
        </span>
        <span class="sideblock-row-gen rightdivcls">
          
          <span class="flex-column-gen">
            <span class="main-gen contentblock">
                <h4>See exactly which customers are <br>engaging your product </h4>
                <mat-card-title class="title">Individual Fence Reporting</mat-card-title>
            </span>
            <span class="sideblock-gen">
                <span class="techandservblock3imgwrapper2 bgblueblock">
                    <img src="../../assets/images/techandservblock3imgright.jpg" class="techandservblock3imgright">
                </span>   
            </span>
          </span>
        </span>
      </div> 
  </mat-card-content>
</mat-card>

<mat-card class="techandservblock4 gencls">
  <mat-card-content class="mainwrapper">    
    <span class="hrhalf">
      <hr> 
    </span>   
    
      <div class="flex-row-gen techandservblock4wrapper">
          <span class="main-row-gen contentblock">
              <h4>Our system will allow you to <br>split test on any size campaign</h4>
              <mat-card-title class="title">Human Oversite</mat-card-title>
              <p>Dedicated Account managers that will observer your account daily to ensure your marketing dollars are being best used and allocated to the things that matter most.</p> 
              <mat-card-title class="title">AI Optimization</mat-card-title>
              <p>Optimized AB Campaigns Realtime Bidding controls CPM optimization</p>                            
          </span>
          <span class="sideblock-row-gen">
            
            <span class="techandservblock4imgwrapper bgblueblock">
              <h3>Only show the ads that are <br>performing best</h3>
              <span class="flex-row-gen">
                <span class="main-row-gen">                  
                  <h4>A</h4>
                  <span class="techandservblock4imgwrapper">
                    <img src="../../assets/images/techandservblock4img.jpg" class="techandservblock4img">
                  </span>
                </span>
                <span class="sideblock-row-gen">
                  <h4>B</h4>
                  <span class="techandservblock4imgwrapper">
                    <img src="../../assets/images/techandservblock4img1.jpg" class="techandservblock4img1">
                  </span>
                </span>
              </span>
               
           </span>   
       </span>
          
      </div> 
  </mat-card-content>
</mat-card>

<mat-card class="techandservblock5 gencls">
  <mat-card-content class="mainwrapper">        
    <mat-card-title class="title">AGENCY SERVICES</mat-card-title>
      <div class="flex-row-gen techandservblock5wrapper">
          <span class="main-row-gen contentblock">
              <mat-card-title class="title">Your agency will get access to the <br>following to market to your advertisers:</mat-card-title>
              <mat-list>
                  <mat-list-item>Marketing copy for website</mat-list-item>
                  <mat-list-item>Marketing copy for decks</mat-list-item>
                  <mat-list-item>Marketing copy for emails</mat-list-item>
                  <mat-list-item>Access to our creative marketing team</mat-list-item>
                  <mat-list-item>Access to our creative services</mat-list-item>
                  <mat-list-item>Purchasable 15 Million U.S. Businesses List</mat-list-item>
                  <mat-list-item>Purchasable 260 Million Consumers List</mat-list-item>
                  <mat-list-item>Purchasable 27 Million Executives List</mat-list-item>
              </mat-list>  
              <span class="techandservblock5bottomblk">
                <mat-card-title class="title">THE AUDIENCE YOUR ADVERTISERS DEVELOP MUST BE ACCURATE. WHEN IT COMES TO MARKETING, OUR PROCESSES AND PROGRAMS FOR DISPLAY ADVERTISING IS TOP OF THE INDUSTRY.</mat-card-title>
              </span>                            
          </span>
          
          
      </div> 
  </mat-card-content>
</mat-card>

<mat-card class="techandservblock6 gencls">
  <mat-card-content class="mainwrapper">        
    <mat-card-title class="title">CREATIVE STUDIO</mat-card-title>
      <div class="flex-row-gen techandservblock6wrapper">
          <span class="main-row-gen contentblock">
            <p>As part of our partnership with your agency, we provide the following <br>in-house marketing services:</p>     
            <div class="techandservblock6h4wrapper"><h4>We Design ADS That Convert</h4></div>
            <p>Get more leads with custom banner ads! Our eye catching ads <br>makes reaching your target demographics easier! </p> 
            <p>Apply different ad formats, ad units and banner ad sizes for multiple ad campaigns. <br>Customize the way banner ads are served on sites through programmatic platform. Tune <br>online banner advertising performance and easily reach highest click through rate and <br>engagement. Make online banner ads work for you!</p>   
            <span class="techandservblock6imgwrapper">
              <img src="../../assets/images/techandservblock6img.png">
            </span>                               
          </span>
      </div> 
      <hr>
      <mat-card-title class="title">Funnel and Capture Pages</mat-card-title>
      <div class="flex-row-gen techandservblock6wrapper">
          <span class="main-row-gen contentblock">
            <p>Our agency services include the design, development and launching of <br>smart landing pages with tracking codes. We work with you to close the <br>loop on conversion and audience development.</p> 
            <p>Our experts have been launching multi-million-dollar funnels and <br>capture websites for over 15 years.</p>   
            <span class="techandservblock6img2wrapper">
              <img src="../../assets/images/techandservblock6img2.jpg">
            </span>                               
          </span>
      </div>
      <hr>
      <div class="techandservblock6bottom">
        <div class="flex-row-gen contentblock">
          <div class="main-row-gen">
            <mat-card-title class="title">Let Us Design Your Email Creatives</mat-card-title>
            <mat-card-subtitle class="subtitle">Get the word out by having your email marketing campaigns <br>designed by the professionals. Our email creative team will custom design <br>professional, mobile responsive email that looks great on every device.</mat-card-subtitle>
            <p>By putting the right emails in front of the right people, <br>you are able to drive more sales in less time. With the <br>right message, you’re able to keep your audience <br>engaged and build strong customer relationships. <br>Let our team of creative experts help you <br>design your next creative! </p>
            <mat-card-title class="title">Ready to get started?</mat-card-title>
          </div>
          <div class="sideblock-row-gen">
            <span class="techandservblock6bottomimgwrapper">
              <img src="../../assets/images/techandservblock6img3.png">
            </span>
          </div>
        </div>
      </div>
      
  </mat-card-content>
</mat-card>


<!-- <mat-card class="vmblock vmblock2"><img src="../../assets/images/tas_vmbanner2.png"></mat-card>

<mat-card class="vmblock vmblock3"><img src="../../assets/images/tas_vmbanner3.png"></mat-card>
<mat-card class="vmblock vmblock4"><img src="../../assets/images/tas_vmbanner4.png"></mat-card>
<mat-card class="vmblock vmblock5"><img src="../../assets/images/tas_vmbanner5.png"></mat-card> -->

<app-footer></app-footer>
